<p>Cher partenaire,</p>

<p>Votre restaurant <%= @restaurant.name %> a bien été ajouté.
L’équipe vous validera celui-ci dans un délai de 24 heures.
Une fois celui-ci validé vous serez en mesure de publier vos offres.</p>


<p>Délicieusement votre,</p>

<p>L’équipe de La Box Des Chefs</p>
