<h1>LaBoxDuChef</h1>

<p>
  <%= @greeting %>, bienvenu(e) <%= @user.first_name %> <%= @user.last_name %> et félicitations pour votre insciption  sur LaBoxDuChef.

  Votre restaurant sera validé dans les plus brefs délais.
  <!-- find me in app/views/user_mailer/welcome.html.erb -->
</p>
