<p>Bonjour <%= @user.first_name %>,</p>

<p>Merci d'avoir rejoint La Box des Chefs !
Notre démarche consiste à lutter contre le gaspillage en proposant des plats cuisinés qui n’ont pas été commercialisés et ce, à PRIX CASSÉ !
Vous faites maintenant parti de l’aventure, Vous allez déguster !!
Notre volonté est de vous proposer toujours plus de restaurants de qualité pour ensemble lutter contre le gaspillage alimentaire.</p>

<p>Alors n’hésitez pas, PARTAGEZ, CRIEZ, CHANTEZ, PARLEZ EN !</p>

<p>Délicieusement votre,</p>

<p>L’équipe de La Box Des Chefs</p>


<div class="col-xs-12 text-center">
<button class="btn btn-success btn-lg"><a href="www.laboxdeschefs.com"></a>Accéder aux offres</button>
</div>


