<p>Cher partenaire,</p>

<p>L’équipe de La Box des Chefs vous souhaite la bienvenue !
Vous venez de créer un compte partenaire sur le site de La Box des Chefs,
Vous pouvez maintenant créer votre profil restaurant.
L’équipe vous validera celui-ci dans un délai de 24h
Une fois validé, vous serrez en mesure de valider vos offres
L’aventure ne fait que commencer !
En nous rejoignant vous allez ainsi limiter vos pertes, attirer de nouveaux clients,
et prendre part à la lutte contre le gaspillage alimentaire.</p>

<p>Alors n’hésitez pas, PARTAGEZ, PARLEZ EN !</p>

<p>Délicieusement votre,</p>

<p>L’équipe de La Box Des Chefs</p>


<div class="col-xs-12 text-center">
<button class="btn btn-success btn-lg"><a href="www.laboxdeschefs.com"></a>Ajouter mon restaurant</button>
</div>


