#banner-container {
  background-image:asset-url('poulet.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 720px;
  background-position: center top;
  position: relative;
  z-index: 1;
  padding-top: 50px;

}

@media (max-width: 600px) {
    #banner-container {
     height: 600px;
    }
}

.layer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;



}

.layer-xs {
    background-color:rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.filter-hiw {
  margin-top: 45px;
  position: relative;
  width: 100%;
  background-color: #E6EAED;
  color:black;
  padding-top: 20px;
  padding-bottom: 20px;


}

.detailed_text_hiw {
  color:#3F4B56;
  font-size: 17px;
}

.title_hiw {
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 40px;
  color:#3F4B56;
  font-weight: lighter;
}







.filter-title {
  position: absolute;
  width: 100%;
  background: rgba(0,0,0,0.4);
}





.title-home-lg {
margin-top:100px;
border:3px;
color: white;
padding: 20px;
font-size: 45px;

}




.sub-title-home-lg{

font-size: 18px;
font-weight: 400;
color: white;
font-size: 20px;
margin-bottom: 60px;

}



.title-home-xs {
margin-top:40px;
color: white;
padding: 0px;
padding-top: 10px;
font-size: 25px;



}



.home-address-field-xs {
  border-radius: 3px;
  float:left;
  width:85%;
  height:45px;
  margin-bottom: 17px;

}

.home-address-field-lg {
  border:none;
  height: 40px;

}

.geolocation-field  {

padding-left: 30px;
font-family: 'Ropa Sans', sans-serif;
padding-top: 5px;

}

.geolocation-field-xs {

margin-left: 0px;
margin-right: 0px;
padding-left: 0px;
padding-right: 0px;
margin-top: 30px;
}




.search-place {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 40px;
  height: 58px;
  border-radius: 3px;
  padding-top: 10px;
  width:60%;
  margin-left: auto;
  margin-right: auto;

}



.newsletter-box {
  background: #E6EAED;
  color:black;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}

.box-more-than-food-global {
  background: white;
  color:black;
  padding-top: 40px;
  padding-bottom: 50px;

}

.box-more-than-food-unit {
  padding-top: 30px;
  padding-bottom: 30px;

}
.box-more-than-food-unit p {
  color:#414243;
  font-size: 18px;
  padding-top: 20px;

}

.link-already-registered {
  color:black;
  font-size: 18px;
}

.link-already-registered-white {
  color:white;
  font-size: 18px;
}


.hiw_gobal_box {

  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 50px;
}

.input-email-newsletter {

  width:80%;
  height:50px;
  border-radius: 3px;
  margin: auto;
}



.partner-joins-us {

  background-image:asset-url('cooker.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  background-position: center top;
  position: relative;
  z-index: -2;
  overflow: hidden;
  pointer-events: auto

}

.partner-joins-us h2 {
    padding: 50px;
    position: relative;
    z-index: 2;
    color:white;
    pointer-events: auto
}

.partner-joins-us p {
    position: relative;
    z-index: 4;
   pointer-events: auto

}

.sub_title_partner_joins_us {

  color:white;
}

.white-rounded-img {
  background-color: white;
  border-radius: 50%;
  height:150px;
  width: 150px;
  vertical-align: middle;
  margin: auto;
  padding-top: 25px;
  margin-bottom: 20px;

}

.search_home_xs_global_box {

  padding-left:0px;
  padding-right:0px;
  margin-left:0px;
  margin-right:0px;
}



