#banner-container {
  background-image: asset-url('banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  min-height: 300px;
  height:1020px;



  background-position: top;


}

.banner-index {
  position: relative;
}



.cart--content {
  position: relative;
  z-index: 2;
}


.black-box {
  width: 305px;
  height: 430px;
  padding: 5px;
  background-color:black;
  opacity: 0.8;
  text-align: center;
}

#price_group {
  width: 120px;
  color:black;
}

#when_group {
  width: 120px;
  color:black;
}


.filter-hiw {
  position: relative;
  width: 100%;
  background: rgba(255,240,240,0.6);
  color:black;
}

.filter-title {
  position: absolute;
  width: 100%;
  background: rgba(0,0,0,0.4);
}

#banner {
  display: flex;
  justify-content: center;
}

.btn-home {
  min-height: 80px;
  min-width: 80px;
  text-align: center;
  font-size: 35px;
  text-decoration: none;
  padding: 10px;
  margin-top:20px;
  margin-bottom: 20px;
  color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.8);
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  border: 3px solid white;
  background: #F9690E;
    // display: flex;

  &:hover {
   border: 1px solid white;
   text-decoration: none;
   color: white;
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
}

.title-home-lg {
margin-top:60px;
border:3px;
color: white;
border:solid;
padding: 20px;
background: rgba(0,0,0,0.2);
font-size: 50px;


}





.sub-sub-title-home-lg{

font-size: 20px;
border:1px;
color: white;
border:solid;
padding: 5px;

}

.sub-title-home-xs {

font-size: 14px;
margin-top:10px;
border: solid 2px;
color: white;
padding: 5px;

}

.title-home-xs {
margin-top:14px;
border:10px;
color: white;
border:solid;
padding: 5px;
padding-top: 10px;
font-size: 22px;

}

.label-search-home {

color:white;
margin-top: 20px;

}

.geolocation-field  {

padding-left: 0px;

}



.btn-geolocation {

  color:white;
  background-color:#006C26;
  border-radius: 3px;
  border:none;
  height:36px;
  width: 36px;
  padding: 2px;
  margin: 0px;
}
