 <div class="col-xs-12" style='padding-right:0px;margin-bottom:50px;'>


<%= f.input :email, class:"form-control", placeholder:"marinalaporte@gmail.com", label:'ENTREZ VOTRE EMAIL POUR RESTER INFORMÉ' %>
 <%= f.button :submit, "ME TENIR INFORMÉ", class: "btn-primary " %>


</div>



<% end %>
