<% if @last_order.meal.starting_date == Date.today && @last_order.meal.second_date == Date.today + 1 %>
    <p > <i class="fa fa-calendar-o payment-icons"> </i></p>
    &nbsp<p class="payment_show_take_away_date"><%= @date %></p>
    <p  class="payment_show_take_away_date" ><%= @date_2 %></p>
<% else @last_order.meal.starting_date == Date.today %>
    <p> <i class="fa fa-calendar-o payment-icons"> </i></p>
    &nbsp<p class="payment_show_take_away_date" > <%=@date%> </p>
<% end -%>
