<div id="modal-user-client-<%=meal.id%>" class="modal" role="dialog">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center map-box-xs">
    	<h2 class="green-title">ITINÉRAIRE</h2>
          <div id="map-payment" ></div>
           <button type="btn-success" data-dismiss="modal" class="btn btn-success btn-margin text-center">Fermer</button>
    </div>
</div>