
<div class="row ">
  <div class="text-center col-xs-12 col-sm-12" id="profil-box">
    <div class="form-inline">
      <div class="input-group">
        <h4 class="hidden-xs">Bienvenue sur votre compte <%= current_user.first_name %></h4>
      </div>
      <div class="input-group">
        <div><%= link_to "Modifier mes infos", edit_user_registration_path(current_user), class: "btn btn-primary" %></div>
      </div>
    </div>
  </div>
</div>

<% if current_user.restaurant_owner? %>
  <%= render 'restaurant_owner' %>
<% else %>
  <%= render 'client' %>
<% end %>
