<div id="body-container" >
  <div class="form-color">
    <div class="container-fluid">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center form-box" style="margin-bottom:200px;">
        <h3 class="form-header">MOT DE PASSE OUBLIÉ</h3>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, label:false, required: true, autofocus: true, placeholder:"Votre email", input_html: {class:"form-input-text" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Valider", class: "btn btn-validation" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



