<!-- <div class="container">
  <div class="row"> -->
    <div class="footer footer-fixed share-links">

        <a href="#" class="share-links-item share-links-item-hover bg-facebook" style="background-color:lightblue">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="share-links-item share-links-item-hover bg-twitter" style="background-color:orange">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#" class="share-links-item share-links-item-hover bg-email" style="background-color:lightgreen">
          <i class="fa fa-envelope-o"></i>
        </a>
        <a href="#" class="share-links-item share-links-item-hover bg-text" style="background-color:lightgrey">
          <i class="fa fa-mobile"></i>
        </a>

    </div>
<!--   </div>
</div> -->
