<div class="row card-address">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <div class="spacer hidden-xs"></div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Quantité</th>
                <th>Désignation</th>
                <th>Nom du client</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="success"><%= @order.quantity %></td>
                <td class="success"><%= @order.meal.name %></td>
                <td class="success"><%= @order.user.last_name %></td>
              </tr>

            </tbody>

          </table>
        </div>
    <div class="button-padding text-center"><%= link_to "Retour", user_path(current_user), class: "btn btn-success" %></div>
    <div class="spacer hidden-xs"></div>
  </div>
</div>

