<div id="body-container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
			<div class="col-xs-12  our_team_box">
				<h2 class="title-margin-top title-margin-bottom">PLAT À TROIS</h2>
				<div class="col-xs-12 col-md-4">
					<%= image_tag "cyrille.png", size:"200x200" %>
					<h3 >CYRILLE</h3>
					<h4 Class="brown-text">Par amour du goût</h4>
					<p class="grey-text-light">
						<p>Épicurien de tous les instants, Cyrille n'est riche que d'expériences, de rencontres et de découvertes. Diplômé en droit, polyglotte, passionné par la musique, le cinéma et la cuisine,la vie est son terrain de jeu.Son nom est à lui seul une véritable invitation au voyage culinaire entre l'Europe et l'Amérique du Sud ...
						</p>
						<p>
						les saveurs du terroir français et les délices du Portugal, pays de ses ancêtres qui ont forgé sa curiosité insatiable pour des plats d'ici et d'ailleurs.Ce lusitanien aux bottes de 7 lieux a tracé un authentique chemin des délices à travers Paris afin de vous réserver une véritable expérience gustative à petits prix. Un gourmet-gourmand généreux qui espère vous régaler.
						</p>
						<p>
						Sa devise: le partage avant tout.
						<p>
					</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<%= image_tag "manu.png", size:"200x200" %>
					<h3 >MANU</h3>
					<h4 Class="brown-text">L'excellence avant tout</h4>
					<p class="grey-text-light">
						Ce geek au grand coeur a su concilier ses compétences et sa passion pour l'art de la table afin de permettre aux gourmets que vous êtes, de trouver vos plats délicieux en un simple clic. Un site facile et esthétique qui vous ouvrira le chemin des saveurs.
						<p>0 galère, 100 % délice.</p>
					</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<%= image_tag "enzo.png", size:"200x200" %>
					<h3 >ENZO</h3>
					<h4 Class="brown-text">Palais enchanté</h4>
					<p class="grey-text-light">
					 	<p>
						Autant passionné de rugby que de gastronomie de haute voltige, il jongle avec la vie sans peur et sans vertige. Gourmet intraitable, gourmand incommensurable il se délecte d'un repas étoilé comme d'une bouffe en grand comité. Pas avare d'un trait d'esprit ni d'un travail acharné jamais sans quelques amis par son travail il reste concerné.
						</p>
						<p>
							"On ne peut pas faire de cuisine si l'on aime pas les gens"
							Joël Robuchon
						</p>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>