<div id="body-container">
  <div style="padding:30px">
<h2  class="title-illustration" >CHARTE DE L'UTILISATEUR</h2>

<p>CE DOCUMENT EST LONG ET CONTIENT PLUSIEURS DISPOSITIONS IMPORTANTES PORTANT SUR VOS DROITS ET OBLIGATIONS. EN UTILISANT LE SITE LA BOX DU CHEF, VOUS ACCEPTEZ D&rsquo;ÊTRE LIÉ(E) PAR :</p>
<p>(i) D’UNE PART, LA PRESENTE CHARTE DU PARTENAIRE, ET</p>
<p>(ii) D’AUTRE PART, LES <a href="https://wwww.laboxduchef.org/pages/conditionsgenerales">CONDITIONS GENERALES D’UTILISATION</a> DU SITE INTERNET ACCESSIBLE AUX ADRESSES www.laboxduchef.org ET *.laboxduchef* AUTREMENT APPELEES LE CONTRAT CADRE.</p>
<p>NOUS VOUS ENCOURAGEONS A IMPRIMER UNE COPIE DE CETTE CHARTE DU AINSI QUE DU CONTRAT CADRE POUR VOS ARCHIVES.</p>
<p>&nbsp;</p>
<h5 class="title-illustration" ><strong>1. OBJET DE LA CHARTE DE L'UTILISATEUR</strong></h5>
<p>La Charte de du partenaire vise à régir plus spécifiquement vos droits et obligations dans le cas où vous décideriez d’utiliser le « Service de Mise en Relation » en qualité d’utilisateur.</p>
<p>&nbsp;</p>

<h5><strong class="title-illustration">4. VOS OBLIGATIONS D'UTILISATEUR</strong></h5>

<h5><strong class="title-illustration">4.1 OBLIGATIONS FINANCIÈRES</strong></h5>
<p>Une contrepartie financière est demandée aux utilisateurs pour l'acquisition d'une portion sous la forme d’une somme établie par le partenaire restaurant payable préalablement au restrait de la portion La box du chef via le système de paiement présent sur le site La box du chef.</p>
<p>Le paiement de la portion toutes taxes comprises est effectué par le consommateur au moment de la réservation de sa ou ses portion(s)</p>
<p>La box du chef s'engage à vous fournir un facture si nécessaire. Pour obtenir une facture merci d'envoyer un mail à contact@laboxduchef.org en précisant:</p>
<p>Le jour de la transaction</p>
<p>La portion sélectionnée</p>
<p>Les quantités achetées</p>
<p>Le nom, prénom et l'adresse email de l'utilisateur ayant procédé à la transaction</p>

<p>&nbsp;</p>
<h6><strong class="title-illustration">4.2 RESPECT DU CONTRAT D'ACHAT</strong></h6>
<p>Au moment de l'achat un contrat est créer entre vous et le restaurant partenaire exluant la box du chef.</p>
<p>A partir du moment ou vous procédez au réglement d'un achat vous devenez propriétaire de la portion. Il est de votre responsabilité d'aller la chercher dans le restaurant partenaire aux heures précisées sur l'annonce. L'impossibilité de se rendre dans les restaurant partenaire ne constitue pas un motif de remboursement valable</p>
<p>En cas de litige survenant entre un partenaire et vous-même du fait d’un manquement par l’une de ces parties à l’une de ses obligations contractuelles, la responsabilité de La box du chef ne pourra pas être engagée.</p>

<p>&nbsp;</p>
<h6><strong class="title-illustration">4.3 RESPECT DE LA DATE DE CONSOMMATION POUR LA PORTION ACHETÉE</strong></h6>
<p> Les portions achetées étant cuisinées entre 24 heures et 48 heures avant la date de mise en ligne, celle-ci doivent conformément à la réglementation relative à la vente de denrées alimentaires à emporter, être consommées 24 heures maximum après avoir été achetée.</p>
<p> Une portion ne peut pas être congelée pour être consommée ultérieurement</p>
<p> En cas de maladie liée au non respect d'une des deux conditions ci-dessus ni le restaurant patenaire ni La box du chef pourront être tenus pour responsables ;</p>

<h5><strong class="title-illustration">5. CONDITIONS DE REMBOURSEMENT</strong></h5>
<p>Les portions achetées ne sont pas remboursables en dehors de cas figurant ci dessous:</p>
<p>&#8211; Le partenaire n'était pas présent au moment du retrait de la portion</p>
<p>&#8211; Le contenu de la portion ne correspondait pas à l'annonce</p>
<p>&#8211; Le partenaire n'a pas été en mesure de vous fournir votre portion</p>

<p>Dans ce cas il vous sera possible d'obtenir le remboursement de votre portion en fournissant les informations suivantes par email à l'addresse contact@laboxduchef.org:</p>
<p>Le nom du restaurant partenaires</p>
<p>Le jour de la transaction</p>
<p>La portion sélectionnée</p>
<p>Les quantités achetées</p>
<p>Le nom, prénom et l'adresse email de l'utilisateur ayant procédé à la transaction</p>

<p>&nbsp;</p>
<h5><strong class="title-illustration">6. RESPONSABILITÉ</strong></h5>
<p>Notre responsabilité ne pourra en aucun cas être engagée dans le cas d'un différend avec un restaurant. La box du chef en sa qualité d'intermédiaire ne peut être tenu pour responsable en cas de la mauvaise exécution du contrat par l'une des partie</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">7. MODIFICATION DE LA CHARTE UTILISATEUR</strong></h5>
<p>La présente Charte de l'utilisateur est un contrat d’adhésion qui ne peut être modifié que de façon unilatérale et à la seule initiative de La box du chef.</p>
<p>La box du chef se réserve le droit de modifier la présente Charte de du partenaire à tout moment. Toute modification de celle-ci entrera en vigueur dès sa publication sur le Site La box du chef et vous sera immédiatement notifiée sur votre adresse courriel telle que vous l’avez renseignée sur votre Compte Utilisateur.</p>
<p>En continuant d’utiliser le Site La box du chef en qualité de partenaire, vous acceptez d&rsquo;être lié(e) par la Charte du partenaire ainsi modifiée.</p>
<p>Si vous refusez les modifications intervenues, vous ne pouvez plus utiliser le Site La box du chef en votre qualité de partenaire et devez impérativement cesser de proposer des Rencontres La box du chef.</p>
<p>Nous vous encourageons à imprimer une copie de chaque version de la Charte du partenaire qui vous serait applicable pour vos archives. Pour votre parfaite information, la date d’entrée en vigueur de chaque Charte de l’partenaire modifiée est indiquée en son en-tête.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">8. ADMISSIBILITÉ</strong></h5>
<p>Vous nous déclarez et vous garantissez être une personne physique âgée de plus de 18 ans et/ou ayant la capacité juridique de contracter.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration" >9. DROIT APPLICABLE</strong></h5>
<p>La présente charte de l’partenaire est soumise au droit français.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration" >10. JURIDICTION COMPÉTENTE – CLAUSE ATTRIBUTIVE DE JURIDICTION</strong></h5>
<p>Sauf disposition d’ordre public contraire applicable, tout différend entre La box du chef et vous-même au titre de la présente charte de l’partenaire sera soumis à la compétence territoriale des tribunaux compétents du ressort de la cour d’appel de Paris, en France.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">11. RÉSOLUTIONS À L'AMIABLE D'UN DIFFÉREND</strong></h5>
<p>Avant de saisir la juridiction compétente dans le cadre d’un tel différend, nous vous invitons (sans que cela ne soit une obligation) à contacter notre service réclamations afin de tenter de résoudre préalablement par la voie amiable ce différend.</p>
<p>Notre service réclamations peut être contacté :</p>
<p>&#8211; Par courriel à l’adresse suivante : contact@laboxduchef.org
<p>&#8211; Par téléphone au +33 (0)6 63 43 61 65,</p>
<p>&#8211; Par voie postale à l’adresse suivante :</p>
<p>La box du chef</p>
<p>Service réclamations</p>
<p>11 rue parmentier</p>
<p>92200 Neuilly-sur-Seine</p>
<p>&nbsp;</p>


  </div>
</div>

