<div id="body-container">
  <div style="padding:30px">
<h2  class="title-illustration" >CHARTE DU PARTENAIRE</h2>

<p>CE DOCUMENT EST LONG ET CONTIENT PLUSIEURS DISPOSITIONS IMPORTANTES PORTANT SUR VOS DROITS ET OBLIGATIONS. EN UTILISANT LE SITE LA BOX DU CHEF, VOUS ACCEPTEZ D&rsquo;ÊTRE LIÉ(E) PAR :</p>
<p>(i) D’UNE PART, LA PRESENTE CHARTE DU PARTENAIRE, ET</p>
<p>(ii) D’AUTRE PART, LES <a href="https://wwww.laboxduchef.org/pages/conditionsgenerales">CONDITIONS GENERALES D’UTILISATION</a> DU SITE INTERNET ACCESSIBLE AUX ADRESSES www.laboxduchef.org ET *.laboxduchef* AUTREMENT APPELEES LE CONTRAT CADRE.</p>
<p>NOUS VOUS ENCOURAGEONS A IMPRIMER UNE COPIE DE CETTE CHARTE DU AINSI QUE DU CONTRAT CADRE POUR VOS ARCHIVES.</p>
<p>&nbsp;</p>
<h5 class="title-illustration" ><strong>1. OBJET DE LA CHARTE DU PARTENAIRE</strong></h5>
<p>La Charte de du partenaire vise à régir plus spécifiquement vos droits et obligations dans le cas où vous décideriez d’utiliser le « Service de Mise en Relation » (tel que ce terme est défini dans le <a href="https://www.laboxduchef.org/pages/conditionsgenerales">Contrat Cadre</a>) en qualité d’partenaire.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">2. ÉTAPES POUR DEVENIR PARTENAIRE</strong></h5>
<p>1. Afin de pouvoir devenir partenaire, vous devez préalablement détenir un « Compte Utilisateur Partenaire» et le compléter en renseignant <em>a minima </em>les informations obligatoires suivantes :</p>
<p>&#8211; votre nom,</p>
<p>&#8211; votre prénom,</p>
<p>&#8211; votre adresse email,</p>
<p>&#8211; votre numéro de téléphone</p>
<p>2. Après la création de votre compte partenaire il vous sera demandé de créer votre fiche restaurant. Les information obligatoires sont les suivantes:</p>
<p>&#8211; Son nom,</p>
<p>&#8211; Son adresse,</p>
<p>&#8211; Une photo,</p>
<p>&#8211; Son numéro de téléphone,</p>
<p>&#8211; L'IBAN de l'établissement concerné,</p>
<p>3. Après la création de votre fiche restaurant cellle-ci sera vérifiée par l'équipe La Box du Chef. En attendant que votre établissement soit validé il vous est impossible de poster une offre en ligne. L'étape de validation peut prendre entre 12 heures et 24 heures. Une fois votre restaurant validé vous devenez partenaire et êtes donc soumis à la charte du partenaire ainsi qu'aux conditions générales d'utilisation.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">3. LA DÉFINITION D'UNE OFFRE</strong></h5>
<p>Votre offre La box du chef pourra être enregistrée sur le Site La box du chef dès lors que les informations suivantes, obligatoires, relatives à ladite offreseront remplies :</p>

<p>&#8211; la date et la plage horaire de retrait pour la portion ;</p>
<p>&#8211; le contenu de la portion: liste des ingrédients présents dans la portion;</p>
<p>&#8211; une photographie de la portion que vous vendez;</p>
<p>&#8211; la présence potentielle d’éléments allergènes ;</p>
<p>&#8211; le nombre de portions proposées ;</p>
<p>&#8211; la prix demandé au consommateur pour l'acquisition de la portion</p>
<p>Nous vous invitons à consulter le Contrat Cadre pour y trouver le détail du calcul de notre commission et les modalités de paiement de celle-ci.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">4. VOS OBLIGATIONS DE PARTENAIRE</strong></h5>

<h5><strong class="title-illustration">4.1 OBLIGATION D'ACCUEIL</strong></h5>
<p>La première qualité d’un partenaire est son accueil.</p>
<p>Vous garantissez un accès à votre établissement pendant les horaires de retrait que vous avez précisés lors de la création d'une offre.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">4.2 OBLGATION DE TRANSPARENCE</strong></h5>
<p>Vous vous engagez à être le plus transparent possible quant au contenu de vos repas et notamment à le décrire de façon exhaustive et non trompeuse en indiquant avec précision l’ensemble des aliments utilisés<s></s>.</p>
<p>Vous vous engagez également à mettre en ligne une photo correspondant au repas que vous proposer. La photo va être l'élément sur lequel l'utilisateur va faire son choix. Vous vous engagez à ne pas induire l'utilisateur en erreur. En cas de plainte d'un utilisteur se plaignant que le contenu de la portion vendue ne correspondait pas à la photo présenté, il vous sera demandé de procéder à un remboursement du consommateur par l'intermédiraire de La Box du chef.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">4.3 RESPECT DU CONTRAT QUE VOUS PROPOSEZ</strong></h5>
<p>La définition et la publication sur le Site La box du chef d’une Rencontre La box du chef constitue une offre contractuelle.</p>
<p>A partir du moment ou vous postez votre offre celle-ci peut être acheter par n'importe quel utilisateur dans la limite du nombres de portions que vous avez mis en ligne</p>
<p>Si un ou plusieurs personne acceptent votre offre, un contrat se sera formé entre vous et les consommateur ayant accepté celle-ci.</p>
<p>Dans le cas ou il vous serait impossible de conduire votre contrat à terme vous vous engagez à rembourser l'utilisateur par l'intermédiaire de la box du chef qui vous saisira le montant de la transaction dont le contact n'a pas été mené à terme</p>
<p>Les offres sont actives pendant 24 heures après la date du début de l'offre que vous avez stipulé. Après ces 24 heures les offres seront automatiquement désactivées.</p>
<p>En tout état de cause, votre offre sera close par anticipation dès le moment où le nombre de portions vendues sera égal au nombre de portions à vendre que vous avez renseigné.</p>
<p>Le Contrat partenaire – consommateur est formé entre vos consommateurs et vous-même, à l’exclusion de La box du chef.</p>
<p>&nbsp;</p>
<p>En cas de litige survenant entre un ou plusieurs de vos consommateurs et vous-même du fait d’un manquement par l’une de ces parties à l’une de ses obligations contractuelles, la responsabilité de La box du chef ne pourra pas être engagée.</p>
<p>Dans le cas où la responsabilité de La box du chef serait engagée par un ou plusieurs de vos Invités du fait du non-respect par vos soins du Contrat partenaire – Invités, vous vous engagez à indemniser La box du chef des préjudices qu’elle subirait de ce fait (préjudice d’image, préjudice économique, etc.).</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">4.4 RESPECT DE LA RÉGLEMENTATION APPLICATION POUR LA VENTE DE PRODUITS ALIMENTAIRE À EMPORTER</strong></h5>
<p>Nous vous invitons à prendre connaissance de la réglementation, qu’elle soit fiscale, administrative, ou de toute autre nature, qui pourrait s’appliquer à vous.</p>
<p>Vous vous engagez par ailleurs :</p>
<p>&#8211; à ne mettre en vente des portions n'ayant pas été cuisinées plus de 2 jours avant de la date du début de l'offre que vous aurez précisés. ;</p>
<p>A servir les portions dans des emballages fournis par la box du chef</p>
<p>A réchauffer la portion vendue si le consommateur le demande</p>
<p>&#8211; à respecter la réglementation relative à l’hygiène et à la salubrité du lieu, des aliments et des boissons proposés au cours d’une intermédiation la box du chef ;</p>

<p>&nbsp;</p>
<h5><strong class="title-illustration">5. RESPONSABILITÉ ET ASSURANCE</strong></h5>
<p>Notre responsabilité ne pourra en aucun cas être engagée dans le cas où vous ne respecteriez pas l’ensemble des obligations susmentionnées. Vous vous engagez à faire votre affaire personnelle de toute réclamation de vos consommateurs en cas de non-respect de ces obligations et vous nous garantissez contre tout recours de vos Invités à cet égard.</p>
<p>&nbsp;</p>
<p>A l’exclusion de ce qui est stipulé dans les Conditions Générales d’Utilisation du Site La box du chef, ainsi que  dans la Charte du consommateur et la charte du partenaire (pour plus d’informations, envoyez un mail à, nous ne sommes pas responsables de tout dommage ou préjudice résultant de vos Invitations La box du chef.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration" >6. RISQUES PROPORES À LA QUALITÉ DE PARTENAIRE</strong></h5>
<p>Vous reconnaissez et acceptez que la qualité de partenaire comporte certains risques et notamment, sans que cette liste ne soit limitative, le risque qu’un de vos consommateurs tombe malade après avoir consommé une de vos potions;</p>
<p>La box du chef ne saurait être tenue responsable de tels dommages.</p>
<p>&nbsp;</p>

<p>&nbsp;</p>
<h5><strong class="title-illustration">7. MODIFICATION DE LA CHARTE PARTENAIRE</strong></h5>
<p>La présente Charte du partenaire est un contrat d’adhésion qui ne peut être modifié que de façon unilatérale et à la seule initiative de La box du chef.</p>
<p>La box du chef se réserve le droit de modifier la présente Charte de du partenaire à tout moment. Toute modification de celle-ci entrera en vigueur dès sa publication sur le Site La box du chef et vous sera immédiatement notifiée sur votre adresse courriel telle que vous l’avez renseignée sur votre Compte Utilisateur.</p>
<p>En continuant d’utiliser le Site La box du chef en qualité de partenaire, vous acceptez d&rsquo;être lié(e) par la Charte du partenaire ainsi modifiée.</p>
<p>Si vous refusez les modifications intervenues, vous ne pouvez plus utiliser le Site La box du chef en votre qualité de partenaire et devez impérativement cesser de proposer des Rencontres La box du chef.</p>
<p>Nous vous encourageons à imprimer une copie de chaque version de la Charte du partenaire qui vous serait applicable pour vos archives. Pour votre parfaite information, la date d’entrée en vigueur de chaque Charte de l’partenaire modifiée est indiquée en son en-tête.</p>
<p>&nbsp;</p>
<h5><strong>10. Admissibilité</strong></h5>
<p>Vous nous déclarez et vous garantissez être une personne physique âgée de plus de 18 ans et/ou ayant la capacité juridique de contracter.</p>
<p>L’utilisation du Site La box du chef en qualité de partenaire est considérée comme non avenue si elle est réalisée en violation des présentes.</p>
<p>En utilisant le site La box du chef en qualité de partenaire, vous déclarez et vous nous garantissez que votre utilisation du site La box du chef ainsi que vos rencontres La box du chef n’enfreignent aucune loi ou règlement en vigueur.</p>
<p>&nbsp;</p>
<h5><strong>11. Exclusion &#8211; Suppression de l’accès au Site La box du chef</strong></h5>
<p>Sans préjudice de son droit de vous appeler en garantie et/ou de vous demander réparation de ses préjudices, La box du chef se réserve le droit de supprimer unilatéralement et sans notification préalable votre accès au Site La box du chef en cas de non-respect de la présente Charte de l’partenaire.</p>
<p>&nbsp;</p>
<h5><strong>12. Droit applicable</strong></h5>
<p>La présente charte de l’partenaire est soumise au droit français.</p>
<p>&nbsp;</p>
<h5><strong>13. Juridiction compétente – clause attributive de juridiction</strong></h5>
<p>Sauf disposition d’ordre public contraire applicable, tout différend entre La box du chef et vous-même au titre de la présente charte de l’partenaire sera soumis à la compétence territoriale des tribunaux compétents du ressort de la cour d’appel de Paris, en France.</p>
<p>&nbsp;</p>
<h5><strong>14. Résolution à l’amiable des différends</strong></h5>
<p>Avant de saisir la juridiction compétente dans le cadre d’un tel différend, nous vous invitons (sans que cela ne soit une obligation) à contacter notre service réclamations afin de tenter de résoudre préalablement par la voie amiable ce différend.</p>
<p>Notre service réclamations peut être contacté :</p>
<p>&#8211; Par courriel à l’adresse suivante : contact@laboxduchef.org
<p>&#8211; Par téléphone au +33 (0)6 63 43 61 65,</p>
<p>&#8211; Par voie postale à l’adresse suivante :</p>
<p>La box du chef</p>
<p>Service réclamations</p>
<p>11 rue parmentier</p>
<p>92200 Neuilly-sur-Seine</p>
<p>&nbsp;</p>
<h5><strong>15. Index des définitions utilisées dans la présente Charte du partenaire</strong></h5>
<p>Les termes suivants utilisés au singulier comme au pluriel dans les présentes sont définis dans le Contrat Cadre ou aux articles suivants de la présente Charte de l’partenaire :</p>
<p>&nbsp;</p>

  </div>
</div>

