<div id="body-container">
  <div style="padding:30px">


<h2  class="title-illustration" >CHARTE DU PARTENAIRE </h2>

<p>CE DOCUMENT EST LONG ET CONTIENT PLUSIEURS DISPOSITIONS IMPORTANTES PORTANT SUR VOS DROITS ET OBLIGATIONS.</p>

<p>EN UTILISANT LE SITE INTERNET ACCESSIBLE AUX ADRESSES www.laboxdeschefs.com ET *.la box des chefs.*, VOUS ACCEPTEZ D&rsquo;ÊTRE LIÉ(E) PAR CES CONDITIONS GÉNÉRALES D’UTILISATION. NOUS VOUS ENCOURAGEONS À EN IMPRIMER UNE COPIE POUR VOS ARCHIVES.</p>
<p>&nbsp;</p>
<h5 class="title-illustration" ><strong>1. PRÉAMBULE </strong></h5>
<p>&nbsp;</p>
<p>La box des chefs est une SAS au capital social de 1 000,00 euros, dont le siège social est situé 11 rue Parmentier, 92200 Neuilly­-sur­-Seine
(France), immatriculée au registre de commerce et des sociétés de Paris sous le numéro 817 542 590 (ci­après désignée « la box des chefs »
ou « nous »). </p>
<p>Nature de notre Service: Nous avons créé et nous exploitons le site Internet accessible aux adresses www.laboxdeschefs.com et *.la box des
chefs.* (ci­après désigné le « Site la box des chefs ») dont l’objet est la mise en relation de personnes et de restaurants. Par le biais du Site, la Société présente un large choix de portions à emporter (les « boxes »), réservables par Internet et payables en ligne, à des restaurants (les
«partenaires»), pour lesquels elle agit en qualité de courtier en ligne.</p>

<p>La Société n’a pas pour objet d’effectuer, elle­ même, la production des portions. Celles­ci sont effectuées directement et sous leur entière responsabilité, par des partenaires extérieurs à la Société (le ou les « partenaire(s) ») que la Société présente et promeut sur le Site. </p>

<p>En utilisant le Site la box des chefs, vous acceptez d’être lié(e) par les présentes conditions générales d’utilisation lesquelles forment un contrat conclu entre la box des chefs et vous­-même (ci­-après désigné le « Contrat Cadre »).
Si vous refusez d’être lié(e) par ce Contrat Cadre, vous ne pouvez pas utiliser le Site la box des chefs et devez impérativement le quitter.</p>
<p>&nbsp;</p>

<h5 class="title-illustration" ><strong>2. ÉTAPES POUR DEVENIR PARTENAIRE </strong></h5>

<p>1. Afin de pouvoir devenir partenaire, vous devez préalablement détenir un « Compte Utilisateur Partenaire» et le compléter en renseignant a minima les informations obligatoires suivantes :</p>

<p>– votre nom,</p>

<p>– votre prénom,<p>

<p>– votre adresse email,<p>

<p>– votre numéro de téléphone<p>

<p>2. Après la création de votre compte partenaire il vous sera demandé de créer votre fiche restaurant. Les informations obligatoires sont les suivantes: <p>

<p>– Son nom, </p>

<p>– Son adresse,</p>

<p>– Une photo de l'établissement,</p>

<p>– Son numéro de téléphone,</p>

<p>– L'IBAN de l'établissement concerné,</p>

<p>3. Après la création de votre fiche restaurant celle­ci sera vérifiée par l'équipe la box des chefs. En attendant que votre établissement soit validé il vous est impossible de poster une offre en ligne. L'étape de validation peut prendre entre 12 heures et 24 heures. Une fois votre restaurant validé vous devenez partenaire et êtes donc soumis à la charte du partenaire ainsi qu'aux conditions générales d'utilisation.</p>


<h5 class="title-illustration" ><strong>3. LA DÉFINITION D'UNE OFFRE </strong></h5>

<p>Votre offre la box des chefs pourra être enregistrée sur le Site la box des chefs dès lors que les informations suivantes, obligatoires, relatives à ladite offre seront remplies : </p>

<p>– la date et la plage horaire de retrait pour la portion ;</p>

<p>– le contenu de la portion: liste des ingrédients présents dans la portion;</p>

<p>– une photographie de la portion que vous vendez;</p>

<p>– la présence potentielle d’éléments allergènes ; </p>

<p>– le nombre de portions proposées ; </p>

<p>– la prix demandé au consommateur pour l'acquisition de la portion. Nous vous invitons à consulter le Contrat Cadre pour y trouver le détail du calcul de notre commission et les modalités de paiement de celle­ci.</p>

<h5 class="title-illustration" ><strong> 4. VOS OBLIGATIONS DE PARTENAIRE </strong></h5>


<h6 class="title-illustration" ><strong>4.1 OBLIGATION D'ACCUEIL </strong></h6>

<p>La première qualité d’un partenaire est son accueil. </p>

<p>Vous garantissez un accès à votre établissement pendant les horaires de retrait que vous avez précisées lors de la création d'une offre.</p>

<h6 class="title-illustration" ><strong> 4.2 OBLGATION DE TRANSPARENCE </strong></h6>

<p>Vous vous engagez à être le plus transparent possible quant au contenu de votre repas et notamment à le décrire de façon exhaustive et non trompeuse en indiquant avec précision l’ensemble des aliments utilisés.</p>

<p>Vous vous engagez également à mettre en ligne une photo correspondant au repas que vous proposez. La photo va être l'élément sur lequel l'utilisateur va faire son choix. Vous vous engagez à ne pas induire l'utilisateur en erreur. En cas de plainte d'un utilisateur se plaignant que le contenu de la portion vendue ne correspond pas à la photo présentée, il vous sera demandé de procéder à un remboursement du consommateur par l'intermédiaire de la box des chefs. </p>

<h6 class="title-illustration" ><strong>4.3 RESPECT DU CONTRAT QUE VOUS PROPOSEZ  </strong></h6>

<p>La définition et la publication sur le Site la box des chefs d’une offre la box des chefs constitue une offre contractuelle.</p>

<p>A partir du moment où vous postez votre offre celle­-ci peut être achetée par n'importe quel utilisateur dans la limite du nombre de portions que vous avez mis en ligne.</p>
<p>Si une ou plusieurs personnes acceptent votre offre, un contrat se sera formé entre vous et les consommateurs ayant accepté celle­-ci.</p>

<p>Dans le cas où il vous serait impossible de conduire votre contrat à terme vous vous engagez à rembourser l'utilisateur par l'intermédiaire de la box des chefs qui vous saisira le montant de la transaction dont le contrat n'a pas été mené à terme.</p>

<p>Les offres sont actives pendant 24 heures après la date du début de l'offre que vous avez stipulé. Après ces 24 heures les offres seront automatiquement désactivées.</p>

<p>En tout état de cause, votre offre sera close par anticipation dès le moment où le nombre de portions vendues sera égal au nombre de portions à vendre que vous avez renseigné.</p>

<p>Le Contrat Partenaire – consommateur est formé entre vos consommateurs et vous­-même, à l’exclusion de la box des chefs.</p>

<p>En cas de litige survenant entre un ou plusieurs de vos consommateurs et vous­-même du fait d’un manquement par l’une de ces parties à l’une de ses obligations contractuelles, la responsabilité de la box des chefs ne pourra pas être engagée.</p>

<h6 class="title-illustration" ><strong>4.4 RESPECT DE LA RÉGLEMENTATION APPLICATION POUR LA VENTE DE PRODUITS ALIMENTAIRE À EMPORTER </strong></h6>

<p>Nous vous invitons à prendre connaissance de la réglementation, qu’elle soit fiscale, administrative, ou de toute autre nature, qui pourrait s’appliquer à vous.</p>

<p>Vous vous engagez par ailleurs :</p>

<p>– à ne pas mettre en vente des portions n'ayant pas été cuisinées plus de 24 heures avant le début de l'offre que vous aurez précisé, </p>

<p>– à servir les portions dans des emballages fournis par la box des chefs, </p>

<p>– à réchauffer la portion vendue si le consommateur le demande, </p>

<p>– à respecter la réglementation applicable relative à l’hygiène et à la salubrité du lieu, des aliments </p>

<h5 class="title-illustration" ><strong>5. CONDITIONS FINANCIÈRES </strong></h5>

<p>Une contrepartie financière est demandée aux consommateurs pour l'acquisition d'une portion sous la forme d’une somme établie par le partenaire restaurant payable préalablement au retrait de la portion la box des chefs via le système de paiement présent sur le site la box des chefs.</p>

<p>La box des chefs perçoit une rémunération sous la forme d’une commission en contrepartie de son service de mise en relation.</p>

<p>La box des chefs facturera aux partenaire une commission de 1€ hors taxes, sur le prix affiché par le partenaire (le prix de la portion).</p>

<p>Le montant des portions vendues par un restaurant déduit de la commission la box des chefs est viré deux fois par mois sur le compte bancaire fourni lors de la création de la fiche restaurant. Ces virements sont effectués le 15 et le 30 de chaque mois. Ils sont accompagnés d'une facture détaillée sur les commissions prélevées par la box des chefs.</p>

<h5 class="title-illustration" ><strong>6. RESPONSABILITÉ ET ASSURANCE </strong></h5>

<p>Notre responsabilité ne pourra en aucun cas être engagée dans le cas où vous ne respecteriez pas l’ensemble des obligations susmentionnées. Vous vous engagez à faire de votre affaire personnelle toute réclamation de vos consommateurs en cas de non­respect de ces obligations et vous nous garantissez contre tout recours de vos clients à cet égard.</p>

<p>A l’exclusion de ce qui est stipulé dans les Conditions Générales d’Utilisation du Site la box des chefs, ainsi que dans la Charte de l'utilisateur et la charte du partenaire, nous ne sommes pas responsables de tout dommage ou préjudice résultant de vos Invitations la box
des chefs.</p>

<h5 class="title-illustration" ><strong> 7. RISQUES PROPRES À LA QUALITÉ DE PARTENAIRE </strong></h5>

<p>Vous reconnaissez et acceptez que la qualité de partenaire comporte certains risques et notamment, sans que cette liste ne soit limitative, le risque qu’un de vos clients tombe malade après avoir consommé une de vos portions;</p>

<p> La box des chefs ne saurait être tenue responsable de tels dommages. </p>


<h5><strong class="title-illustration"> 8. CONDITIONS FINANCIÈRES </strong></h5>
<p>&nbsp;</p>
<p> Une contrepartie financière est demandée aux consommateurs pour l'acquisition d'une portion sous la forme d’une somme établie par le partenaire restaurant payable préalablement au retrait de la portion la box des chefs via le système de paiement présent sur le site la box des chefs. </p>
<p>La box des chefs perçoit une rémunération sous la forme d’une commission en contrepartie de son service de mise en relation.</p>
<p>La box des chefs facturera aux partenaires une commission de 1€ hors taxes, sur le prix affiché par le partenaire (le prix de la portion).</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 9. MODALITÉS ET MOYENS DE PAIEMENTS </strong></h5>
<p>&nbsp;</p>
<p>Le paiement de la portion toutes taxes comprises est effectué par le consommateur au moment de la réservation de sa ou ses portion(s)
Le paiement de notre commission, toutes taxes comprises, du pour l'achat d'une portion la box des chefs s’effectue par le partenaire restaurateur. Celui­-ci se verra verser sur le compte bancaire de son établissement le 15 et le 30 de chaque mois un montant correspondant à
l'ensemble des portions qu'il aura vendues par l'intermédiaire de la box des chefs soustrait de la commission la box des chefs toutes taxes comprises. Ces versements seront accompagnés d'une facture correspondant à la commission prélevée par la box des chefs soit 1€ HT par
transaction. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 10. CONTRATS SUSCEPTIBLES DE VOUS LIER EN CAS D'UTILISATION DE LA BOX DES CHEFS </strong></h5>
<p>&nbsp;</p>
<p>Selon la façon dont vous utilisez le site la box des chefs, vous êtes susceptible d’être lié par différents contrats vous liant à nous et dont vous trouverez la liste ci­dessous.</p>

<p>– Si vous agissez en tant que partenaire sur le Site la box des chefs, vous êtes soumis au présent Contrat Cadre et à la Charte du partenaire, cette dernière prévalant, en cas de contradiction, sur le Contrat Cadre. </p>

<p>– Si vous agissez en tant qu'utilisateur sur le Site la box des chefs, vous êtes soumis au présent Contrat Cadre et à la Charte du utilisateur, cette dernière prévalant, en cas de contradiction, sur le Contrat Cadre. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 11. RÉGLEMENTATION APPLICABLE </strong></h5>
<p>&nbsp;</p>
<p>Nous vous invitons à prendre connaissance de la réglementation, qu’elle soit fiscale, administrative, ou de toute autre nature, qui pourrait s’appliquer à vous dans le cas où vous seriez partenaire ou consommateur.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">12. MODIFICATION DU CONTRAT CADRE </strong></h5>
<p>&nbsp;</p>
<p>Le présent Contrat Cadre est un contrat d’adhésion qui ne peut être modifié que de façon unilatérale et à la seule initiative de la box des chefs.
la box des chefs se réserve le droit de modifier le présent Contrat Cadre à tout moment. Toute modification de celui­ci entrera en vigueur dès sa publication sur le Site la box des chefs.</p>

<p>En continuant d’utiliser le Site la box des chefs, vous acceptez d’être lié(e) par le Contrat Cadre ainsi modifié.</p>

<p>Si vous refusez les modifications intervenues, vous ne pouvez plus utiliser le Site la box des chefs et devez impérativement le quitter.</p>

<p>Nous vous encourageons à imprimer une copie de chaque version du Contrat Cadre qui vous serait applicable pour vos archives. Pour votre parfaite information, la date d’entrée en vigueur de chaque Contrat Cadre modifié est indiquée en son en­tête. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 13. ADMISSIBILITÉ </strong></h5>
<p>&nbsp;</p>
<p> L’utilisation du Site la box des chefs est considérée comme non avenue si elle est réalisée en violation des présentes clauses. </p>

<p>En utilisant le site la box des chefs, vous déclarez et vous nous garantissez que votre utilisation du site la box des chefs n’enfreint aucune loi ou règlement en vigueur. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 14. CRÉATION D'UN COMPTE UTILISATEUR </strong></h5>
<p>&nbsp;</p>
<p>Avant de devenir utilisateur ou partenaire, vous devez créer un compte utilisateur personnel et unique (ci­après désigné le « Compte Utilisateur») en choisissant un nom d’utilisateur disponible (ci­après désigné le « Login ») et un mot de passe d’utilisateur (ci­après désigné le « Mot de Passe ») et en renseignant a minima les informations obligatoires suivantes : <p>

<p>– votre civilité, </p>

<p>– votre nom, </p>

<p>– votre prénom, </p>

<p>– votre adresse email </p>

<p>Vous vous engagez à ce que ces informations soient complètes, exactes et sincères et à mettre à jour de façon permanente ces dernières.</p>

<p>Vous serez identifié sur le Site la box des chefs vis­à­vis des autres utilisateurs et des tiers par votre prénom, votre ville et votre pays.</p>

<p>Votre Compte Utilisateur ne sera validé que (i) si vous déclarez et nous garantissez expressément être une personne physique âgée de plus de 18 ans et/ou ayant la capacité juridique de contracter, et (ii) si votre adresse de courriel est validée par notre processus de vérification automatisé. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 15.1 EXCLUSION DE LA RESPONSABILITÉ LA BOX DES CHEFS AU TITRE DE L'ACCÈS AU SITE LA BOX DES CHEFS </strong></h5>
<p>&nbsp;</p>
<p>La box des chefs n’est tenue d’aucune obligation de résultat ni d’aucune obligation de moyen en ce qui concerne le fonctionnement du site la box des chefs.</p>

<p>La box des chefs ne saurait être tenue responsable de toute erreur, omission, interruption, suppression, de tout défaut, retard d’opération ou de transmission, vol ou destruction ou accès non autorisé, ou encore de toute altération de la communication avec tout utilisateur. </p>

<p> La box des chefs se réserve le droit de suspendre temporairement l’accès à ses services pour des raisons techniques ou de maintenance sans que ces opérations n’ouvrent droit à une quelconque indemnité. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 15.2 EXCLUSION DE LA RESPONSABILITÉ la box des chefs AU TITRE DE L'ACTIVITÉ DE MISE EN RELATION </strong></h5>
<p>&nbsp;</p>
<p>La responsabilité de la box des chefs vis­à­vis du partenaire ou vis­-à­-vis du consommateur au titre du service de mise en relation qu’elle propose est limitée au montant de la commission qu’elle a perçue de celui­ci pour le service de mise en relation en cause. </p>

<p>Ainsi, dans le cas où vous subiriez un préjudice, de quelque nature qu’il soit, du fait d’une faute commise par la box des chefs dans le cadre de l’exécution d’un service de mise en relation, l’indemnisation que vous pourriez obtenir de la box des chefs sera limitée au montant de la commission que vous lui avez versée pour le service de mise en relation en cause. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 15.3 EXCLUSION DE LA RESPONSABILITÉ la box des chefs AU TITRE DES OFFRES ELLES­MÊMES </strong></h5>
<p>&nbsp;</p>
<p> La responsabilité de la box des chefs vis­à­vis du partenaire ou vis­à­vis du consommateur ne pourra en aucun cas être engagée au titre du bon déroulement et/ou de la bonne fin des offres la box des chefs. </p>

<p> La box des chefs ne se porte en aucun cas garante de la pertinence et/ou de la véracité et/ou de l’exhaustivité des informations échangées dans le cadre d’une intermédiation la box des chefs ou sur le site la box des chefs. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 16. PROPRIÉTÉ la box des chefs </strong></h5>
<p>&nbsp;</p>
<p>Les éléments du Site la box des chefs et notamment son contenu éditorial, ses graphismes, ses logos, ses marques, ses dessins, ses textes, ses icônes, ses scripts, ses applications, ses logiciels et ses fonctionnalités, à l’exception des Contenus Utilisateurs, (ci­après désignés collectivement le « Contenu du Site »), sont la propriété exclusive de la box des chefs ou de ses ayants droit. La reproduction, l’imitation ou l’apposition, partielle ou totale, d’un des éléments du Contenu du Site appartenant à la box des chefs est strictement interdite sans l’accord écrit préalable de la box des chefs. <p>

<p>Le Contenu du Site ne peut être modifié, copié, distribué, encadré, reproduit, téléchargé, affiché, publié, transmis ou vendu sous quelque forme que ce soit ou par quelque moyen que ce soit, en tout ou partie, sans l’accord écrit préalable de la box des chefs. </p>

<p>Vous êtes autorisé à utiliser le Site la box des chefs et le Contenu du Site dans les conditions prévues aux présentes. Toute utilisation du Site la box des chefs ou du Contenu du Site autre que celle prévue par les présentes, ou en contravention avec la législation applicable ou les droits de tiers est strictement interdite. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 17. EXCLUSION DU SERVICE la box des chefs </strong></h5>
<p>&nbsp;</p>
<p> Sans préjudice de son droit de vous appeler en garantie et/ou de vous demander réparation de ses préjudices, la box des chefs se réserve le droit de supprimer unilatéralement et sans notification préalable votre accès au Site la box des chefs si vous vous rendez coupable d’atteinte à des droits de propriété intellectuelle ou si vous avez publié sur le Site la box des chefs un Contenu Illicite. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 18. INFORMATIONS LÉGALES </strong></h5>
<p>&nbsp;</p>
<p> Le Site la box des chefs a été développé par la société la box des chefs.</p>

<p> La box des chefs possède l’ensemble des droits de propriété sur le Site la box des chefs ainsi que sur le Contenu du Site.</p>

<p> La box des chefs agit en tant qu’éditeur du Site la box des chefs. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 19. CONTACT  </strong></h5>
<p>&nbsp;</p>
<p>  Pour toute question relative au Site la box des chefs ou au fonctionnement du Service de Mise en Relation, vous pouvez joindre la box des chefs aux coordonnées suivantes : <p>

<p> – par courrier :</p>

<p> La box des chefs </p>

<p> Service client </p>

<p>11 rue Parmentier </p>

<p> 92200 Neuilly-sur-Seine </p>

<p> – par courrier électronique: contact@laboxdeschefs.com </p>

<p> – par téléphone : 06 63 43 61 65 </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 20. DROIT APPLICABLE </strong></h5>
<p>&nbsp;</p>
<p>Le présent contrat cadre, le service de mise en relation, les autres services proposés par la box des chefs sur le site la box des chefs et l’utilisation du site la box des chefs sont soumis au droit français.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">21. JURIDICTION COMPÉTENTE </strong></h5>
<p>&nbsp;</p>
<p>Sauf disposition d’ordre public contraire applicable, tout différend entre la box des chefs et vous­même au titre du présent contrat cadre, du service de mise en relation, des autres services proposés par la box des chefs sur le site la box des chefs ou de l’utilisation du site la box des chefs sera soumis à la compétence territoriale des tribunaux compétents du ressort de la Cour d’appel de paris, en France. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">22. RÉSOLUTION À L'AMIABLE DES DIFFÉRENDS </strong></h5>
<p>&nbsp;</p>
<p>Avant de saisir la juridiction compétente dans le cadre d’un tel différend, nous vous invitons (sans que cela soit une obligation) à contacter notre service réclamations afin de tenter de résoudre préalablement par la voie amiable ce différend. </p>

<p>Notre service réclamations peut être contacté :</p>

<p>– Par téléphone au +33 (0)6 63 43 61 65, </p>

<p>– Par voie postale à l’adresse suivante : </p>

<p>la box des chefs </p>

<p>Service réclamations </p>

<p> 11 rue Parmentier </p>

<p> 92200 Neuilly­-sur­-Seine  </p>


  </div>
</div>
