<div id="body-container">
  <div style="padding:30px">


<h2  class="title-illustration" >CONDITIONS GÉNÉRALES D'UTILISATION </h2>

<p>CE DOCUMENT EST LONG ET CONTIENT PLUSIEURS DISPOSITIONS IMPORTANTES PORTANT SUR VOS DROITS ET OBLIGATIONS.</p>

<p>EN UTILISANT LE SITE INTERNET ACCESSIBLE AUX ADRESSES www.laboxdeschefs.com ET *.la box des chefs.*, VOUS ACCEPTEZ D&rsquo;ÊTRE LIÉ(E) PAR CES CONDITIONS GÉNÉRALES D’UTILISATION. NOUS VOUS ENCOURAGEONS À EN IMPRIMER UNE COPIE POUR VOS ARCHIVES.</p>
<p>&nbsp;</p>
<h5 class="title-illustration" ><strong>1. PRÉAMBULE </strong></h5>
<p>&nbsp;</p>
<p>La box des chefs est une SAS au capital social de 1 000,00 euros, dont le siège social est situé 11 rue Parmentier, 92200 Neuilly­ sur­ Seine
(France), immatriculée au registre de commerce et des sociétés de Paris sous le numéro 817 542 590 (ci­après désignée « la box des chefs »
ou « nous »). </p>
<p>Nature de notre Service: Nous avons créé et nous exploitons le site Internet accessible aux adresses www.laboxdeschefs.com et *.la box des
chefs.* (ci­après désigné le « Site la box des chefs ») dont l’objet est la mise en relation de personnes et des restaurants. Par le biais du Site, la Société présente un large choix de portions à emporter (les « boxes »), réservables par internet et payables en ligne, à des restaurants (les
«partenaires»), pour lesquels elle agit en qualité de courtier en ligne.</p>

<p>La Société n’a pas pour objet d’effectuer, elle­ même, la production des portions. Celles­ ci sont produites directement et sous leur entière responsabilité, par des partenaires extérieurs à la Société (le ou les « partenaire(s) ») que la Société présente et promeut sur le Site. </p>

<p>En utilisant le Site la box des chefs, vous acceptez d’être lié(e) par les présentes conditions générales d’utilisation lesquelles forment un contrat conclu entre la box des chefs et vous­même (ci­après désigné le « Contrat Cadre »).
Si vous refusez d’être lié(e) par ce Contrat Cadre, vous ne pouvez pas utiliser le Site la box des chefs et devez impérativement le quitter.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">2. LES PARTIES </strong></h5>
<p>&nbsp;</p>
<p>Société : </p>
<p>la box des chefs est une SAS au capital social de 1 000,00 euros, dont le siège social est situé 11 rue parmentier, 92200 Neuilly­ sur­ Seine
(France), immatriculée au registre de commerce et des sociétés de Paris sous le numéro 802 395 483 (ci­après désignée « la box des chefs »
ou « nous »).</p>
<p>Utilisateur :</p>
<p>Toute personne bénéficiant d’un espace personnel sur le Site (le « Compte Personnel »), et candidate à l'acquisition d'une portion/box.</p>

<p>Partenaire :</p>

<p>Tout professionnel de la restauration confirmé par l’équipe la box des chefs et bénéficiant d’un espace personnel sur le Site (le « Compte partenaire »). </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">3. DEVENIR PARTENAIRE À TRAVERS LE SITE la box des chefs </strong></h5>
<p>&nbsp;</p>
<p>Si vous êtes le représentant légal d'un restaurant déclaré à la Direction Départementale pour la Protection des Populations (DDPP), vous pouvez proposer sur le Site la box des chefs de vendre vos surplus à l'issue d'un service. Vous serez alors qualifié de «Partenaire » et devrez respecter, en plus du présent Contrat Cadre, la « Charte du partenaire».</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">4. DEVENIR UTILISATEUR À TRAVERS LE SITE la box des chefs </strong></h5>
<p>&nbsp;</p>
<p>Vous pouvez rechercher sur le Site la box des chefs l'offre correspondant à vos envies. Vous serez alors qualifié de «utilisateur» et devrez respecter, en plus du présent Contrat Cadre, la « Charte de l'utilisateur ».</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">5. NOTRE RÔLE SUR LE SITE la box des chefs </strong></h5>
<p>&nbsp;</p>
<p>Notre rôle est de mettre en relation des restaurants d’une part et des utilisateurs d’autre part.</p>

<p>La Société ne prend pas part contractuellement à la fourniture des prestations. Les engagements se forment directement entre le partenaire et l'utilisateur.</p>

<p>En cas de différend opposant des utilisateurs et des partenaires à propos d’une prestation, les utilisateurs concernés sont invités à contacter la Société via le formulaire de contact présent sur le Site (« contactez­nous ») pour lui signaler l'existence d'un différend. Cependant, la résolution de ce différend sera de la seule responsabilité de l'utilisateur et du Partenaire concernés. </p>

<p>Les utilisateurs restent entièrement libres d’accepter ou non les offres la box des chefs qui leur sont proposées par les gérants de restaurants. </p>

<p>Notre Service de Mise en Relation s’adresse exclusivement à des personnes physiques âgées de plus de 18 ans et/ou ayant la capacité juridique de contracter.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">6. CONCLUSION DES TRANSACTIONS  </strong></h5>
<p>&nbsp;</p>

<p>L’enregistrement d’un Utilisateur via la création d’un Compte Personnel est la condition préalable à toute réservation et paiement d’une Prestation. </p>

<p>Le paiement de la Prestation est réalisé par carte bancaire, par paiement sécurisé mis à la disposition des Utilisateurs sur le Site. </p>

<p>La consignation du prix de la Prestation est effectuée sur un compte dédié ouvert au nom de la Société auprès d'un établissement bancaire de son choix. Une fois le prix de la Prestation consigné sur le compte dédié, la Société est seule habilitée à ordonner à l'établissement bancaire de procéder à son versement au partenaire, déduction faite de la commission due à la Société au titre de l'utilisation de ses services. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 7. CONDITIONS FINANCIÈRES </strong></h5>
<p>&nbsp;</p>
<p> Une contrepartie financière est demandée aux consommateurs pour l'acquisition d'une portion sous la forme d’une somme établie par le partenaire restaurant payable préalablement au retrait de la portion la box des chefs via le système de paiement présent sur le site la box des chefs. </p>

<p>La box des chefs perçoit une rémunération sous la forme d’une commission en contrepartie de son service de mise en relation.</p>
<p>La box des chefs facturera aux partenaires une commission de 1€ hors taxes, sur le prix prix affiché par le partenaire (le prix de la portion).</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 8. MODALITÉS ET MOYENS DE PAIEMENTS </strong></h5>
<p>&nbsp;</p>
<p>Le paiement de la portion toutes taxes comprises est effectué par le consommateur au moment de la réservation de sa ou ses portion(s).
Le paiement de notre commission, toutes taxes comprises, du pour l'achat d'une portion la box des chefs s’effectue par le partenaire restaurateur. Celui­ ci se verra verser sur le compte bancaire de son établissement le 15 et le 30 de chaque mois un montant correspondant à
l'ensemble des portions qu'il aura vendues par l'intermédiaire de la box des chefs soustrait de la commission la box des chefs toutes taxes comprises. Ces versements seront accompagnés d'une facture correspondant à la commission prélevée par la box des chefs soit 1€ HT par
transaction. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 9. CONTRATS SUSCEPTIBLES DE VOUS LIER EN CAS D'UTILISATION DE la box des chefs </strong></h5>
<p>&nbsp;</p>
<p>Selon la façon dont vous utilisez le site la box des chefs, vous êtes susceptible d’être lié par différents contrats vous liant à nous et dont vous trouverez la liste ci­-dessous.</p>

<p>– Si vous agissez en tant que partenaire sur le Site la box des chefs, vous êtes soumis au présent Contrat Cadre et à la Charte de du partenaire, cette dernière prévalant, en cas de contradiction, sur le Contrat Cadre. </p>

<p>– Si vous agissez en tant qu'utilisateur sur le Site la box des chefs, vous êtes soumis au présent Contrat Cadre et à la Charte du utilisateur, cette dernière prévalant, en cas de contradiction, sur le Contrat Cadre. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 10. RÉGLEMENTATION APPLICABLE </strong></h5>
<p>&nbsp;</p>
<p>Nous vous invitons à prendre connaissance de la réglementation, qu’elle soit fiscale, administrative, ou de toute autre nature, qui pourrait s’appliquer à vous dans le cas où vous seriez partenaire ou consommateur.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">11. MODIFICATION DU CONTRAT CADRE </strong></h5>
<p>&nbsp;</p>
<p>Le présent Contrat Cadre est un contrat d’adhésion qui ne peut être modifié que de façon unilatérale et à la seule initiative de la box des chefs.
la box des chefs se réserve le droit de modifier le présent Contrat Cadre à tout moment. Toute modification de celui­ci entrera en vigueur dès sa publication sur le Site la box des chefs.</p>

<p>En continuant d’utiliser le Site la box des chefs, vous acceptez d’être lié(e) par le Contrat Cadre ainsi modifié.</p>

<p>Si vous refusez les modifications intervenues, vous ne pourrez plus utiliser le Site la box des chefs et devrez impérativement le quitter.</p>

<p>Nous vous encourageons à imprimer une copie de chaque version du Contrat Cadre qui vous serait applicable pour vos archives. Pour votre parfaite information, la date d’entrée en vigueur de chaque Contrat Cadre modifié est indiquée en son en­tête. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 12. ADMISSIBILITÉ </strong></h5>
<p>&nbsp;</p>
<p> L’utilisation du Site la box des chefs est considérée comme non avenue si elle est réalisée en violation des présentes. </p>

<p>En utilisant le site la box des chefs, vous déclarez et nous garantissez que votre utilisation du site la box des chefs n’enfreint aucune loi ou règlement en vigueur. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 13. CRÉATION D'UN COMPTE UTILISATEUR </strong></h5>
<p>&nbsp;</p>
<p>Avant de devenir utilisateur ou partenaire, vous devez créer un compte utilisateur personnel et unique (ci­après désigné le « Compte Utilisateur») en choisissant un nom d’utilisateur disponible (ci­après désigné le « Login ») et un mot de passe d’utilisateur (ci­après désigné le « Mot de Passe ») et en renseignant a minima les informations obligatoires suivantes : <p>

<p>– votre civilité, </p>

<p>– votre nom, </p>

<p>– votre prénom, </p>

<p>– votre adresse email </p>

<p>Vous vous engagez à ce que ces informations soient complètes, exactes et sincères et à mettre à jour de façon permanente ces dernières.</p>

<p>Vous serez identifié sur le Site la box des chefs vis­à­vis des autres utilisateurs et des tiers par votre prénom, votre ville et votre pays.</p>

<p>Votre Compte Utilisateur ne sera validé que (i) si vous déclarez et nous garantissez expressément être une personne physique âgée de plus de 18 ans et/ou ayant la capacité juridique de contracter, et (ii) si votre adresse de courriel est validée par notre processus de vérification automatisé. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 14.1 EXCLUSION DE LA RESPONSABILITÉ la box des chefs AU TITRE DE L'ACCÈS AU SITE la box des chefs </strong></h5>
<p>&nbsp;</p>
<p>La box des chefs n’est tenue d’aucune obligation de résultat ni d’aucune obligation de moyen en ce qui concerne le fonctionnement du site la box des chefs.</p>

<p>La box des chefs ne saurait être tenue responsable de toute erreur, omission, interruption, suppression, de tout défaut, retard d’opération ou de transmission, vol ou destruction ou accès non autorisé, ou encore de toute altération de la communication avec tout utilisateur. </p>

<p> La box des chefs se réserve le droit de suspendre temporairement l’accès à ses services pour des raisons techniques ou de maintenance sans que ces opérations n’ouvrent droit à une quelconque indemnité. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 14.2 EXCLUSION DE LA RESPONSABILITÉ la box des chefs AU TITRE DE L'ACTIVITÉ DE MISE EN RELATION </strong></h5>
<p>&nbsp;</p>
<p>La responsabilité de la box des chefs vis­à­vis du partenaire ou vis­à­vis du consommateur au titre du service de mise en relation qu’elle propose est limitée au montant de la commission qu’elle a perçue de celui­ci pour le service de mise en relation en cause. </p>

<p>Ainsi, dans le cas où vous subiriez un préjudice, de quelque nature qu’il soit, du fait d’une faute commise par la box des chefs dans le cadre de l’exécution d’un service de mise en relation, l’indemnisation que vous pourriez obtenir de la box des chefs sera limitée au montant de la commission que vous lui avez versée pour le service de mise en relation en cause. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 14.3 EXCLUSION DE LA RESPONSABILITÉ la box des chefs AU TITRE DES OFFRES ELLES­MÊMES </strong></h5>
<p>&nbsp;</p>
<p> La responsabilité de la box des chefs vis­à­vis du partenaire ou vis­à­vis du consommateur ne pourra en aucun cas être engagée au titre du bon déroulement et/ou de la bonne fin des offres la box des chefs. </p>

<p> La box des chefs ne se porte en aucun cas garante de la pertinence et/ou de la véracité et/ou de l’exhaustivité des informations échangées dans le cadre d’une intermédiation la box des chefs ou sur le site la box des chefs. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 15. PROPRIÉTÉ la box des chefs </strong></h5>
<p>&nbsp;</p>
<p>Les éléments du Site la box des chefs et notamment son contenu éditorial, ses graphismes, ses logos, ses marques, ses dessins, ses textes, ses icônes, ses scripts, ses applications, ses logiciels et ses fonctionnalités, à l’exception des Contenus Utilisateurs, (ci­après désignés collectivement le « Contenu du Site »), sont la propriété exclusive de la box des chefs ou de ses ayants droit. La reproduction, l’imitation ou l’apposition, partielle ou totale, d’un des éléments du Contenu du Site appartenant à la box des chefs est strictement interdite sans l’accord écrit préalable de la box des chefs. <p>

<p>Le Contenu du Site ne peut être modifié, copié, distribué, encadré, reproduit, téléchargé, affiché, publié, transmis ou vendu sous quelque forme que ce soit ou par quelque moyen que ce soit, en tout ou partie, sans l’accord écrit préalable de la box des chefs. </p>

<p>Vous êtes autorisé à utiliser le Site la box des chefs et le Contenu du Site dans les conditions prévues aux présentes. Toute utilisation du Site la box des chefs ou du Contenu du Site autre que celle prévue par les présentes, ou en contravention avec la législation applicable ou les droits de tiers est strictement interdite. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 16. EXCLUSION DU SERVICE la box des chefs </strong></h5>
<p>&nbsp;</p>
<p> Sans préjudice de son droit de vous appeler en garantie et/ou de vous demander réparation de ses préjudices, la box des chefs se réserve le droit de supprimer unilatéralement et sans notification préalable votre accès au Site la box des chefs si vous vous rendez coupable d’atteinte à des droits de propriété intellectuelle ou si vous avez publié sur le Site la box des chefs un Contenu Illicite. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 17. INFORMATIONS LÉGALES </strong></h5>
<p>&nbsp;</p>
<p> Le Site la box des chefs a été développé par la société la box des chefs.</p>

<p> la box des chefs possède l’ensemble des droits de propriété sur le Site la box des chefs ainsi que sur le Contenu du Site.</p>

<p> la box des chefs agit en tant qu’éditeur du Site la box des chefs. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 18. CONTACT  </strong></h5>
<p>&nbsp;</p>
<p>  Pour toute question relative au Site la box des chefs ou au fonctionnement du Service de Mise en Relation, vous pouvez joindre la box des chefs aux coordonnées suivantes : <p>

<p> – par courrier :</p>

<p> La box des chefs </p>

<p> Service client </p>

<p>11 rue Parmentier </p>

<p> 92200 Neuilly-sur-Seine </p>

<p> – par courrier électronique: contact@laboxdeschefs.com </p>

<p> – par téléphone : 06 63 43 61 65 </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration"> 19. DROIT APPLICABLE </strong></h5>
<p>&nbsp;</p>
<p>Le présent contrat cadre, le service de mise en relation, les autres services proposés par la box des chefs sur le site la box des chefs et l’utilisation du site la box des chefs sont soumis au droit français.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">20. JURIDICTION COMPÉTENTE </strong></h5>
<p>&nbsp;</p>
<p>Sauf disposition d’ordre public contraire applicable, tout différend entre la box des chefs et vous­même au titre du présent contrat cadre, du service de mise en relation, des autres services proposés par la box des chefs sur le site la box des chefs ou de l’utilisation du site la box des chefs sera soumis à la compétence territoriale des tribunaux compétents du ressort de la cour d’appel de paris, en France. </p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">21. RÉSOLUTION À L'AMIABLE DES DIFFÉRENDS </strong></h5>
<p>&nbsp;</p>
<p>Avant de saisir la juridiction compétente dans le cadre d’un tel différend, nous vous invitons (sans que cela soit une obligation) à contacter notre service réclamations afin de tenter de résoudre préalablement par la voie amiable ce différend. </p>

<p>Notre service réclamations peut être contacté :</p>

<p>– Par téléphone au +33 (0)6 63 43 61 65, </p>

<p>– Par voie postale à l’adresse suivante : </p>

<p>la box des chefs </p>

<p>Service réclamations </p>

<p> 11 rue Parmentier </p>

<p> 92200 Neuilly­-sur­-Seine  </p>


  </div>
</div>
