<div id="body-container">
  <div style="padding:30px">

<h2  class="title-illustration" >CONDITIONS GÉNÉRALES D'UTILISATION</h2>
<p>CE DOCUMENT EST LONG ET CONTIENT PLUSIEURS DISPOSITIONS IMPORTANTES PORTANT SUR VOS DROITS ET OBLIGATIONS. EN UTILISANT LE SITE INTERNET ACCESSIBLE AUX ADRESSES www.laboxduchef.org ET *.La box du chef.*, VOUS ACCEPTEZ D&rsquo;ÊTRE LIÉ(E) PAR CES CONDITIONS GÉNÉRALES D&rsquo;UTILISATION. NOUS VOUS ENCOURAGEONS A EN IMPRIMER UNE COPIE POUR VOS ARCHIVES.</p>

<p>&nbsp;</p>
<h5 class="title-illustration" ><strong >1. PRÉAMBULE</strong></h5>
<p>La box du chef est une société à responsabilité limitée unipersonnelle au capital social de 1 000,00 euros, dont le siège social est situé 11 rue parmentier, 92200 Neuilly-sur-seine (France), immatriculée au registre de commerce et des sociétés de Paris sous le numéro 802 395 483 (ci-après désignée « La box du chef » ou « nous »).</p>
<p>Nature de notre Service: Nous avons créé et nous exploitons le site Internet accessible aux adresses www.laboxduchef.org et *.La box du chef.* (ci-après désigné le « Site La box du chef ») dont l’objet est d’être une plateforme de mise en relation de personnes physiques et des restaurants dans le but de permettre aux restaurants de vendre leurs surplus d'un service sous forme de portions à emporter. Par le biais du Site, la Société présente un large choix de portions à emporter (les « boxes »), réservables par internet et payables en ligne, à des restaurants (les «partenaires»), pour lesquels elle agit en qualité de courtier en ligne.</p>
<p>La Société n’a pas pour objet d’effectuer, elle-même, la production des portions. Celles-ci sont effectuées directement et sous leur entière responsabilité, par des partenaires extérieurs à la Société (le ou les « partenaire(s) ») que la Société présente et promeut sur le Site.</p>
<p>En utilisant le Site La box du chef, vous acceptez d&rsquo;être lié(e) par les présentes conditions générales d&rsquo;utilisation lesquelles forment un contrat conclu entre La box du chef et vous-même (ci-après désigné le « Contrat Cadre »). Vous êtes dans ce cadre qualifié d’ « Utilisateur ».</p>
<p>Si vous refusez d’être lié(e) par ce Contrat Cadre, vous ne pouvez pas utiliser le Site La box du chef et devez impérativement le quitter.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">2. LES PARTIES</strong></h5>
<p>Société :</p>

<p>La box du chef est une société à responsabilité limitée unipersonnelle au capital social de 1 000,00 euros, dont le siège social est situé 11 rue parmentier, 92200 Neuilly-sur-seine (France), immatriculée au registre de commerce et des sociétés de Paris sous le numéro 802 395 483 (ci-après désignée « La box du chef » ou « nous »).</p>

<p>Utilisateur :</p>

<p>Toute personne bénéficiant d’un espace personnel sur le Site (le « Compte Personnel »), et candidate à l'acquisition d'une portion/box.</p>

<p>Partenaire :</p>

<p>Tout professionnels de la restauration confirmés par l’équipe La box du chef et bénéficiant d’un espace personnel sur le Site (le « Compte Personnel »), et proposant des produits.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">3. DEVENIR PARTENAIRE À TRAVERS LE SITE LA BOX DU CHEF</strong></h5>
<p>Si vous être gérant d'un restaurant déclaré à la Direction Départementale pour la Protection des Populations (DDPP), vous pouvez proposer sur le Site La box du chef de vendre vos surplus à l'issue d'un service. Vous serez alors qualifié de « Partenaire »  et devrez respecter, en plus du présent Contrat Cadre, la « <a href="https://fr.laboxduchef.org/pages/chartepartenaire">Charte du partenaire</a>».</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">4. DEVENIR CONSOMMATEUR À TRAVERS LE SITE LA BOX DU CHEF</strong></h5>
<p>Vous pouvez rechercher sur le Site La box du chef l'offre correspondant à vos désirs. Vous serez alors qualifié de «consommateur» et devrez respecter, en plus du présent Contrat Cadre, la « <a href="https://fr.laboxduchef.org/pages/charteconsommateur">Charte du consommateur</a> ».</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">5. NOTRE RÔLE SUR LE SITE LA BOX DU CHEF</strong></h5>
<p>Notre rôle est de mettre en relation des gérants de restaurants d’une part et des consommateurs d’autre part par la voie d’un référencement effectué sur le Site La box du chef (ci-après désigné le « Service de Mise en Relation »).</p>
<p>La Société ne prend pas part contractuellement à la fourniture des Prestations. Les engagements se forment directement entre le partenaire et le consommateur.</p>
<p>En cas de différend opposant des Conommateurs à propos d’une Prestation, les Consommateurs concernés sont invités à contacter la Société via le formulaire de contact présent sur le Site (« contactez-nous ») pour lui signaler l'existence d'un différend. Cependant, la résolution de ce différend sera de la seule responsabilité du Consommateur et du Partenaire concernés.</p>
<p>Les consommateurs restent entièrement libres d’accepter ou non les offres La box du chef qui leur sont proposées par les gérants de restaurants.</p>
<p>Notre Service de Mise en Relation s’adresse exclusivement à des personnes physiques âgées de plus de 18 ans et/ou ayant la capacité juridique de contracter.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">6. CONCLUSION DES TRANSACTIONS</strong> </h5>
<p>L’enregistrement d’un Utilisateur via la création d’un Compte Personnel est la condition préalable à toute réservation et paiement d’une Prestation (cf. Conditions Générales d’Utilisation du Site).</p>
<p>Le paiement de la Prestation est réalisé par carte bancaire, par paiement sécurisé mis à la disposition des Utilisateurs sur le Site.</p>
<p>La consignation du prix de la Prestation est effectuée sur un compte dédié ouvert au nom de la Société auprès d'un établissement bancaire de son choix. Une fois le prix de la Prestation consigné sur le compte dédié, la Société est seule habilitée à ordonner à l'établissement bancaire de procéder à son versement au partenaire, déduction faite de la commission due à la Société au titre de l'utilisation de ses services.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">7. CONDITIONS FINANCIÈRES</strong></h5>
<p>Une contrepartie financière est demandée aux consommateurs pour l'acquisition d'une portion sous la forme d’une somme établie par le partenaire restaurant payable préalablement au restrait de la portion La box du chef.</p>
<p>La box du chef perçoit une rémunération sous la forme d’une commission en contrepartie de son Service de Mise en Relation.</p>
<p>La box du chef facturera aux partenaire une commission de 18% hors taxes, sur le prix prix affiché par l&rsquo;partenaire (le prix de la portion)</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">8. MODALITÉS ET MOYENS DE PAIEMENTS</strong></h5>
<p>Le paiement de la portion toutes taxes comprises est effectué par le consommateur au moment de la réservation de sa ou ses portion(s)</p>
<p>Le paiement de notre commission, toutes taxes comprises, dues pour l'achat d'une portion La box du chef s’effectue par le partenaire restaurateur. Celui-ci se vera verser sur le compte bancaire de son établissement le 15 et le 30 de chaque mois un montant correspondant à l'ensemble des portions qu'il aura vendues par l'intermédiaire de la box du chef soustrait de la commission la box du chef toutes taxes comprises. Ces versements seront accompagnés d'une facture correspondant à la commission prélevée par la box du chef soit 18% HT par transaction.</p>

<p>&nbsp;</p>
<h5><strong class="title-illustration">9. CONTRATS SUSCEPTIBLES DE VOUS LIER EN CAS D'UTILISATION DE LA BOX DU CHEF</strong></h5>
<p>Selon la façon dont vous utilisez le Site La box du chef, vous êtes susceptible d’être lié par différents contrats vous liant à nous et dont vous trouverez la liste ci-dessous.</p>
<p>Si vous n’êtes qu’un simple Utilisateur du Site La box du chef, vous êtes soumis au présent Contrat Cadre.</p>
<p>&#8211; Si vous agissez en tant quE partenaire sur le Site La box du chef, vous êtes soumis au présent Contrat Cadre et à la <a href="https://fr.laboxduchef.org/pages/chartepartenaire">Charte de du partenaire</a>, cette dernière prévalant, en cas de contradiction, sur le Contrat Cadre.</p>
<p>&#8211; Si vous agissez en tant que consommateur sur le Site La box du chef, vous êtes soumis au présent Contrat Cadre et à la <a href="https://fr.laboxduchef.org/pages/charteconsommateur">Charte du consommateur</a>, cette dernière prévalant, en cas de contradiction, sur le Contrat Cadre.</p>
<p>&nbsp;</p>
<h5><strong  class="title-illustration">10. RÉGLEMENTATION APPLICABLE</strong></h5>
<p>Nous vous invitons à prendre connaissance de la réglementation, qu’elle soit fiscale, administrative, ou de toute autre nature, qui pourrait s’appliquer à vous dans le cas où vous seriez partenaire ou consommateur.</p>
<p>&nbsp;</p>
<h5><strong  class="title-illustration">11. MODIFICATION DU CONTRAT CADRE</strong></h5>
<p>Le présent Contrat Cadre est un contrat d’adhésion qui ne peut être modifié que de façon unilatérale et à la seule initiative de La box du chef.</p>
<p>La box du chef se réserve le droit de modifier le présent Contrat Cadre à tout moment. Toute modification de celui-ci entrera en vigueur dès sa publication sur le Site La box du chef.</p>
<p>En continuant d’utiliser le Site La box du chef, vous acceptez d&rsquo;être lié(e) par le Contrat Cadre ainsi modifié.</p>
<p>Si vous refusez les modifications intervenues, vous ne pouvez plus utiliser le Site La box du chef et devez impérativement le quitter.</p>
<p>Nous vous encourageons à imprimer une copie de chaque version du Contrat Cadre qui vous serait applicable pour vos archives. Pour votre parfaite information, la date d’entrée en vigueur de chaque Contrat Cadre modifié est indiquée en son en-tête.</p>
<p>&nbsp;</p>
<h5><strong  class="title-illustration">12. ADMISSIBILITÉ</strong></h5>
<p>L’utilisation du Site La box du chef est considérée comme non avenue si elle est réalisée en violation des présentes.</p>
<p>En utilisant le site La box du chef, vous déclarez et vous nous garantissez que votre utilisation du site La box du chef n’enfreint aucune loi ou règlement en vigueur.</p>
<p>&nbsp;</p>
<h5><strong  class="title-illustration">13. CRÉATION D'UN COMPTE UTILISATEUR</strong></h5>
<p>Avant de devenir consommateur ou partenaire, vous devez créer un compte utilisateur personnel et unique (ci-après désigné le « Compte Utilisateur ») en choisissant un nom d&rsquo;utilisateur disponible (ci-après désigné le « Login ») et un mot de passe d&rsquo;utilisateur (ci-après désigné le « Mot de Passe ») et en renseignant <em>a minima </em>les informations obligatoires suivantes :</p>
<p>&#8211; votre civilité,</p>
<p>&#8211; votre nom,</p>
<p>&#8211; votre prénom,</p>
<p>&#8211; votre adresse email</p>
<p>Vous vous engagez à ce que ces informations soient complètes, exactes et sincères et à mettre à jour de façon permanente ces dernières.</p>
<p>Vous serez identifié sur le Site La box du chef vis-à-vis des autres utilisateurs et des tiers par votre prénom, votre ville et votre pays.</p>
<p>Votre Compte Utilisateur ne sera validé que (i) si vous déclarez et nous garantissons expressément être une personne physique âgée de plus de 18 ans et/ou ayant la capacité juridique de contracter, et (ii) si votre adresse de courriel est validée par notre processus de vérification automatisé.</p>
<p>&nbsp;</p>

<h5><strong class="title-illustration">14.1 EXCLUSION DE LA RESPONSABILITÉ LA BOX DU CHEF AU TITRE DE L'ACCÈS AU SITE LA BOX DU CHEF</strong></h5>
<p>La box du chef n’est tenue d’aucune obligation de résultat ni d’aucune obligation de moyen en ce qui concerne le fonctionnement du site La box du chef.</p>
<p>La box du chef ne saurait être tenue responsable de toute erreur, omission, interruption, suppression, de tout défaut, retard d’opération ou de transmission, vol ou destruction ou accès non autorise, ou encore de toute altération de la communication avec tout utilisateur.</p>
<p>La box du chef se réserve le droit de suspendre temporairement l’accès à ses services pour des raisons techniques ou de maintenance sans que ces opérations n’ouvrent droit à une quelconque indemnité.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">14.2 EXCLUSION DE LA RESPONSABILITÉ LA BOX DU CHEF AU TITRE DE L'ACTIVITÉ DE MISE EN RELATION</strong></h5>
<p>La responsabilité de La box du chef vis-à-vis du partenaire ou vis-à-vis du consommateur au titre du service de mise en relation qu’elle propose est limitée au montant de la commission qu’elle a perçue de celui-ci pour le service de mise en relation en cause.</p>
<p>Ainsi, dans le cas où vous subiriez un préjudice, de quelque nature qu’il soit, du fait d’une faute commise par La box du chef dans le cadre de l’exécution d’un service de mise en relation, l’indemnisation que vous pourriez obtenir de La box du chef sera limitée au montant de la commission que vous lui avez versée pour le service de mise en relation en cause.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">14.3 EXCLUSION DE LA RESPONSABILITÉ LA BOX DU CHEF AU TITRE DES OFFRES ELLES-MÊMES</strong></h5>
<p>La responsabilité de La box du chef vis-à-vis de du partenaire ou vis-à-vis du consommateur ne pourra en aucun cas être engagée au titre du bon déroulement et/ou de la bonne fin des offres La box du chef.</p>
<p>La box du chef ne se porte en aucun cas garante de la pertinence et/ou de la véracité et/ou de l’exhaustivité des informations échanges dans le cadre d’une intermédiation La box du chef ou sur le site La box du chef.</p>
<p>&nbsp;</p>

<h5><strong class="title-illustration">15. PROPRIÉTÉ LA BOX DU CHEF </strong></h5>
<p>Les éléments du Site La box du chef et notamment son contenu éditorial, ses graphismes, ses logos, ses marques, ses dessins, ses textes, ses icônes, ses scripts, ses applications, ses logiciels et ses fonctionnalités, à l’exception des Contenus Utilisateurs, (ci-après désignés collectivement le « Contenu du Site »), sont la propriété exclusive de La box du chef ou de ses ayants droit. La reproduction, l&rsquo;imitation ou l&rsquo;apposition, partielle ou totale, d’un des éléments du Contenu du Site appartenant à La box du chef est strictement interdite sans l&rsquo;accord écrit préalable de La box du chef.</p>
<p>Le Contenu du Site ne peut être modifié, copié, distribué, encadré, reproduit, téléchargé, affiché, publié, transmis ou vendu sous quelque forme que ce soit ou par quelque moyen que ce soit, en tout ou partie, sans l&rsquo;accord écrit préalable de La box du chef.</p>
<p>Vous êtes autorisé à utiliser le Site La box du chef et le Contenu du Site dans les conditions prévues aux présentes. Toute utilisation du Site La box du chef ou du Contenu du Site autre que celle prévue par les présentes, ou en contravention avec la législation applicable ou les droits de tiers est strictement interdite.</p>
<p>&nbsp;</p>

<h5><strong class="title-illustration">16. EXCLUSION DU SERVICE LA BOX DU CHEF</strong></h5>
<p>Sans préjudice de son droit de vous appeler en garantie et/ou de vous demander réparation de ses préjudices, La box du chef se réserve le droit de supprimer unilatéralement et sans notification préalable votre accès au Site La box du chef si vous vous rendez coupable d&rsquo;atteinte à des droits de propriété intellectuelle ou si vous avez publié sur le Site La box du chef un Contenu Illicite.</p>
<p>&nbsp;</p>

<h5><strong class="title-illustration">17. INFORMATIONS LÉGALES</strong></h5>
<p>Le Site La box du chef a été développé par la société La box du chef.</p>
<p>La box du chef possède l’ensemble des droits de propriété sur le Site La box du chef ainsi que sur le Contenu du Site.</p>
<p>La box du chef agit en tant qu’éditeur du Site La box du chef.</p>
<p>&nbsp;</p>


<h5><strong class="title-illustration">18. CONTACT</strong></h5>
<p>Pour toute question relative au Site La box du chef ou au fonctionnement du Service de Mise en Relation, vous pouvez joindre La box du chef aux coordonnées suivantes :</p>
<p>&#8211; par courrier :</p>
<p>La box du chef</p>
<p>Service client</p>
<p>11 rue parmentier</p>
<p>92200</p>
<p>&#8211; par courrier électronique: contact@laboxduchef.org </p>
<p>&#8211; par téléphone : <em>06 63 43 61 65</em></p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">19. DROIT APPLICABLE</strong></h5>
<p>Le présent contrat cadre, le service de mise en relation, les autres services proposés par La box du chef sur le site La box du chef et l’utilisation du site La box du chef sont soumis au droit français.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">20. JURIDICTION COMPÉTENTE</strong></h5>
<p>Sauf disposition d’ordre public contraire applicable, tout différend entre La box du chef et vous-même au titre du présent contrat cadre, du service de mise en relation, des autres services proposés par La box du chef sur le site La box du chef ou de l’utilisation du site La box du chef sera soumis à la compétence territoriale des tribunaux compétents du ressort de la cour d’appel de paris, en France.</p>
<p>&nbsp;</p>
<h5><strong class="title-illustration">21. RÉSOLUTION À L'AMIABLE DES DIFFÉRENTS</strong></h5>
<p>Avant de saisir la juridiction compétente dans le cadre d’un tel différend, nous vous invitons (sans que cela soit une obligation) à contacter notre service réclamations afin de tenter de résoudre préalablement par la voie amiable ce différend.</p>
<p>Notre service réclamations peut être contacté :</p>
<p>&#8211; Par téléphone au +33 (0)6 63 43 61 65,</p>
<p>&#8211; Par voie postale à l’adresse suivante :</p>
<p>La box du chef</p>
<p>Service réclamations</p>
<p>11 rue parmentier</p>
<p>92200 Neuilly-sur-Seine</p>


  </div>
</div>
