<div id="body-container"  >
    <div class="banner-fonctionnement"> </div>
    <div class="container ">
       <div class="row text-center" >
          <div class="col-xs-12">

                <h2 class="title-ccm">REJOIGNEZ LE MOUVEMENT !</h2>

                <h4 class="text-border-intro"> Mettez en vente en quelques secondes le surplus de votre service précédent sous forme de boxes à emporter vendues à petit prix !
                </h4>



              <div class="row" style="margin-top:50px">
                <div class="col-xs-12">

                  <h3><strong>POURQUOI NOUS REJOINDRE ?</strong></h3>

                  <div>
                    <div class="text-center col-xs-12 col-sm-4">

                        <p><STRONG>1</STRONG>.</p> <p>POUR VALORISER VOTRE SURPLUS!</p>
                    </div>
                    <div class="text-center col-xs-12 col-sm-4">

                        <p><STRONG>2</STRONG>.</p> <p>POUR LUTTER CONTRE LE GASPILLAGE</p>
                    </div>
                    <div class="text-center col-xs-12 col-sm-4">

                        <p><STRONG>3</STRONG>.</p> <p>POUR BÉNÉFICIER DE VISIBILITÉ AUPRÈS DE LA COMMUNAUTÉ LA BOX DU CHEF</p>
                    </div>

                  </div>
                </div>
              </div>


                  <%= link_to "Créer un compte", new_user_registration_path, class: "btn btn-success btn-lg btn-margin" %>

         </div>
      </div>





  </div>

</div>
