<div id="banner-container">
  <div class="layer-xs hidden-sm hidden-md hidden-lg"></div>
    <div class="container" >
      <div class="row ">
        <div class="col-xs-12 col-sm-12 ">
          <div  class="text-center" >
              <h1 class="visible-xs hidden-sm hidden-md hidden-lg title-home-xs"> <p> DES PLATS DE RESTAURANTS JUSQU'A TROIS FOIS MOINS CHER</p>
              <h1>
          </div>
        </div>
      </div>
  </div >

   <div class="global_box_partner_choice col-xs-12 text-center col-sm-4 col-sm-offset-4">
      <% if @restaurant.confirmed? %>
        <%= link_to "AJOUTER UNE OFFRE", new_restaurant_meal_path(@restaurant), class:"btn btn-home-partner" %>
      <% else %>
        <%= link_to "AJOUTER SON RESTAURANT", new_restaurant_path, class:"btn btn-home-partner" %>
      <% end %>
    </div>
