<div>

  <div id="banner-container" >
    <div class="filter">
        <div id="presentation" class="text-center">
          <h1> Des plats de chefs à prix minis </h1>
          <h4> Cliquez, commandez, récuperez, savourez !</h4>
        </div>
    </div>
  </div>

</div>
