<div id="banner-container">
  <div class="layer-xs hidden-sm hidden-md hidden-lg"></div>
    <div class="container" >
      <div class="row ">
        <div class="col-xs-12 col-sm-12 ">
          <div  class="text-center" >
              <h1 class="visible-xs hidden-sm hidden-md hidden-lg title-home-xs"> <p> DES PLATS DE RESTAURANTS JUSQU'A TROIS FOIS MOINS CHER</p>
              <h1>
          </div>
        </div>
      </div>
  </div >

  <div class="hidden-md hidden-lg" style="margin-bottom:300px;">
  <%= render 'pages/search_home_xs' %>
  </div>
