#body-container {
 background-repeat: no-repeat;
 margin-top: 0px;
 background-color: #DADFE1;
 font-family: 'Ropa Sans', sans-serif;
 z-index: 1;
 padding-top: 52px;
 margin-bottom:0px;



}

#body-container-client-dashboard {
 background-repeat: no-repeat;
 background-position: left top;
 margin-top: 0px;
 background-color: #DADFE1;
 font-family: 'Ropa Sans', sans-serif;
 z-index: 1;
 margin-bottom:0px;
}




.row {

  margin-left:0px;
  margin-right:0px;
}




 h1, h2, h3, h4, h5, p, li, span {

font-family: 'Ropa Sans', sans-serif;

}



.form-input-radius {

 border-radius: 4px;
}


@media (max-width: 600px) {
          .container-fluid{
          margin: 0px;
          padding: 1px;
          }


          .container{
          margin: 0px;
          padding: 1px;
          }
}




#modal_waiting {
  position: absolute;
  top:300px;
  left:45%;
}

@media (max-width: 600px) {
  #modal_waiting {
  position: absolute;
  top:200px;
  left:35%;
  }
}

.modal_waiting {

  background-color: none;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0)

}
