#body-container {

 background-size: cover;
 background-repeat: no-repeat;
 background-position: left top;
 margin-top: 0px;


 z-index: 1;
 position: relative;
 color:#FFFAEF;



  .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(170,170,170,0.6);

  }


}

.border-box {
  border: white solid 2px;
  text-align: center;
  padding: 10px;
}
