#body-container {

 background-size: cover;
 background-repeat: no-repeat;
 background-position: left top;
 margin-top: 0px;
 background-color: #ECECEC;


 z-index: 1;
 position: relative;




  .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(30,30,30,0.6);

  }


}

.border-box {
  border: black solid 1px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
}

.border-box-shadow {
  border-shadow: 2px 2px 3px rgba(0,0,0,0.6);
  border: black solid 1px;
  text-align: center;
  padding: 10px;
}
.title-body {

  color:#CF6B00;
}

.row {

  margin-left:0px;
  margin-right:0px;
}
