
.navbar {

margin-bottom:0px;
color: white;
background-color: #006C26;
border:none;
}


#logo {


display: inline-block;
margin-bottom: 10px;


}


#logo-text {
color:white;
font-size:22px;
padding-left: 15px;
padding-top: 10px;
display: inline-block;

}
