.navbar {

margin-bottom:0px;
color: white;
}


#logo {


display: inline-block;
margin-bottom: 10px;


}


#logo-text {
color:white;
font-size:25px;
padding-left: 30px;
padding-top: 10px;
display: inline-block;

}
