/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.card {
  position: relative;
  height: 200px;
  width: 220px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin: 20px 20px;
  padding: 10px 10px;
  border-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.card-bg{
  background-size: cover;
  border-radius: 3px;
  // position: absolute;
  // top: 30;
  // bottom: 0;
  // width: 100%;
}

.card-gradient {
  background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 80%);
  border-radius: 3px;
}



.h3-lined:before, .h3-lined:after {
    position: absolute;
    top: 40%;
    overflow: hidden;
    width: 30%;
    height: 2px;
    content: '\a0';
    background-color: black;

  }

.h3-lined {
    position: relative;
    font-size: 30px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.h3-lined:before {
    margin-left: -30%;
    text-align: right;
}

.pagination {
display: none;
}
