/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.card {
  position: relative;
  height: 200px;
  width: 220px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin: 20px 20px;
  padding: 10px 10px;
  border-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.card-bg{
  background-size: cover;
  border-radius: 3px;
  // position: absolute;
  // top: 30;
  // bottom: 0;
  // width: 100%;
}

.card-gradient {
  background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 80%);
  border-radius: 3px;
}

.form-box {

background-color: #F0E8C4;
border:solid 2px;
color:#006C26;
margin-top: 40px;
margin-bottom: 40px;
border-radius: 4px;
}
