<h1><%= @my_meal.name %></h1>
<%= image_tag @my_meal.picture.url(:thumb) %>


<script type="text/javascript">
  $(document).ready(function() {
  Gmaps.map.callback = function() {
  console.log(Gmaps.map.markers)
  }
});
</script>
