<div id="body-container" >

  <!--  map or deals -->
   <div class="col-xs-12 hidden-md hidden-lg hidden-sm" id="meal_search_header_xs">
    <div class="col-xs-6 text-center">
      <p class=" meal_xs_link-box"><%= link_to 'OFFRES', url_for(params), class:"meal_xs_header_offres_title" %></p>
    </div>
    <div class="col-xs-6 text-center">
      <p class=" meal_xs_link-box"><%= link_to 'CARTE', controller: "meals", action:"mealmapxs", full_addressuser_input_autocomplete_address: @search_address, class:"meal_xs_header_offres_title"  %></p>
    </div>
  </div>
  <!-- map or deals -->
  <!-- list of meals -->
  <div class="container-index-xs hidden-md hidden-lg hidden-sm">
    <div class="row" >
      <div class="col-xs-12 col-sm-12 block-index-xs  ">
         <% if  Meal.where(active:true).count == 0 %>
          <div class="col-xs-12 text-center container_no_offer" >
              <p class="font-25">Il n'y a malhreusement pas d'offres en cours pour le moment ! </p>
              <p class="font-25" >N'hésitez pas à présenter le projet à vos amis restaurateurs pour que ceux-ci rejoignent notre version beta !</p>
          </div>
          <% else %>
             <div id="my-meals-xs">
                <%= render 'meals/list_meals_xs', renderer: BootstrapPagination::Rails  %>
             </div>
             <div id="infinite-scrolling">
             <%= will_paginate @meals %>
            </div>
          <% end -%>
        </div>
      </div>
  </div>
 <!-- list of meals -->
</div>
