<div id="body-container"  >
  <div class="container">
      <div class="row">
          <% current_user.restaurants.each do |restaurant| %>
          <% if restaurant.confirmed? %>
             <div class="col-xs-12 col-md-6 col-md-offset-3 text-center form-box" >
            <h4 class="form-header">CRÉATION DE VOTRE OFFRE</h4>
             <p class='grey-text'>*Tous les champs du formulaire sont obligatoires</p>

            </div>

          <%else %>

      <div id="text-center" style="height:500px;">
          <h2>Votre restaurant est en cours de validation. Une fois celui-ci validé vous pourrez poster vos offres. L'étape de validation prend entre 24 heures et 48 heures.</h2>
          <div class="text-center">
          <%= link_to "Retour", root_path, class:"btn btn-primary text-center btn-margin" %>
          </div>
     </div>


          <% end -%>
           <% end %>
    </div>
  </div>
</div>



