
 <div class="form-input-time-box">
   <p>Horaires de retrait le midi</p>

        <span>de&nbsp</span>
      <%= f.input :take_away_noon_starts_at, :as=> 'time' ,:label => false, input_html: { class: 'datetimepicker' } %>


        <span>à&nbsp</span>
      <%= f.input :take_away_noon_ends_at, :as=> 'time' ,:label => false, input_html: { class: 'datetimepicker' } %>

  </div>

 <div class="form-input-time-box">
   <p>Horaires de retrait le soir</p>

        <span>de&nbsp</span>
      <%= f.input :take_away_evening_starts_at, :as=> 'time' ,:label => false, input_html: { class: 'datetimepicker' } %>

        <span>de&nbsp</span>
      <%= f.input :take_away_evening_ends_at, :as=> 'time' ,:label => false, input_html: { class: 'datetimepicker' } %>

  </div>
