
          <div class="form-input-time-box">
              <p>Horaires de retrait le midi</p>
              <div class="form-input-time">
                  <div class='input-group date datetimepicker3'>
                   <span>de</span>
                  <input type="time"  class="datetimepicker3" name="restaurant[take_away_noon_starts_at]" label="de" default="11:00">
                  </div>
              </div>

              <div class="form-input-time">
                  <div class='input-group date datetimepicker3'>
                   <span>à&nbsp</span>
                  <input type="time"  class="datetimepicker3" name="restaurant[take_away_noon_ends_at]" label="de" default="11:00">
                </div>
              </div>
          </div>

        <div class="form-input-time-box">
            <p>Horaires de retrait le soir</p>
            <div class="form-input-time">
                <div class='input-group date datetimepicker3'>
                  <span>de</span>
                  <input type="time"  class="datetimepicker3" name="restaurant[take_away_evening_starts_at]" label="de" default="11:00">
                </div>
            </div>

              <div class="form-input-time">
                <div class='input-group date datetimepicker3'>
                  <span>à&nbsp</span>
                  <input type="time"  class="datetimepicker" name="restaurant[take_away_evening_ends_at]" label="de" default="11:00">
                </div>
              </div>
        </div>

