
          <div class="form-input-time-box">
              <p>Horaires de retrait le midi</p>
              <div class="">
                  <div class='input-group date datetimepickerxs'>
                   <span>de</span>
                  <input type="time"  class="datetimepickerxs" name="restaurant[take_away_noon_starts_at]" label="de" default="11:00">
                  </div>
              </div>

              <div class="">
                  <div class='input-group date datetimepickerxs'>
                   <span>à&nbsp</span>
                  <input type="time"  class="datetimepickerxs" name="restaurant[take_away_noon_ends_at]" label="de" default="11:00">
                </div>
              </div>
          </div>

        <div class="form-input-time-box">
            <p>Horaires de retrait le soir</p>
            <div class="">
                <div class='input-group date datetimepickerxs'>
                  <span>de</span>
                  <input type="time"  class="datetimepickerxs" name="restaurant[take_away_evening_starts_at]" label="de" default="11:00">
                </div>
            </div>

              <div class="">
                <div class='input-group date datetimepickerxs'>
                  <span>à&nbsp</span>
                  <input type="time"  class="datetimepickerxs" name="restaurant[take_away_evening_ends_at]" label="de" default="11:00">
                </div>
              </div>
        </div>

