
.alert {
  text-align: center;
  color: white;
  position: absolute;
  z-index: 4;
  top: 75px;
  right: 5px;
  width: 200px;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
