.icon-badge-container {
  position: relative;
  font-size: 20px;
  width: 20px;
  color: grey;
}
.user-badge-container {
  position: relative;
  width: 30px;
}
.icon-badge, .user-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  text-align: center;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  &-red {
    background: $red;
  }
  &-green {
    background: $green;
  }
  &-blue {
    background: $blue;
  }
  &-black {
    background: black;
  }
  &-bordered {
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
}
