.btn-submit-index-address {
  position:absolute;
  height:100%;
  width: 100%;
  color:transparent;
  background-color: transparent;
  top:0;
  z-index: 1;
  border:none;

}


 .card_meal_index_lg {
  position: relative;
  height: 200px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  width: 100%

 }

 .card-meal-global-box-xs {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 1px 1px 1px #888888;
  padding-bottom: 2px;



 }

 .card_img_meal_index_xs {
  position: relative;
  height: 180px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  width: 100%

 }


 .card-meal-global-box-lg {
  margin-bottom: 15px;
  border-radius: 3px;

}

.card-meal-global-box-lg-shadow  {
  box-shadow: 1px 1px 1px #888888;
  margin-left: 0px;
  margin-right: 0px;
}

.card-info {

  position: absolute;
  height: 60px;
  width: 200px;
  color: white;
 }



.card-gradient {
  background-size: cover;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  border-radius: 3px;
}

.card-filter {
  background-size: cover;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,0,0.1,0.6) 80%);
  border-radius: 3px;
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-filter-payment {
  background-size: cover;
  background-color: rgba(0,0,0.1,0.6);
  border-radius: 3px;
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-filter-top {
  background-size: cover;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,0,0.1,0.6) 80%);
  border-radius: 3px;
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height:30%;
  width: 100%;
}


.banner-index {
 flex: auto;
 background-image: asset-url('banner.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
 // margin-top:-8px;
 z-index: 1;
 color: white;
 // display: flex;
 align-text: center;
 // position: relative;
}

.btn-ajouter {
  border: 1px solid white;
  color: white;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  font-size: 15px;
  text-decoration: none;
  border-radius: 3px;
}

.btn-reserver {
  border: 3px solid white;
  color: white;
  background: white;
  text-shadow: 3px 3px 3px rgba(0,0,0,0);
  font-size: 15px;
  text-decoration: none;
  border-radius: 4px;
  background-color: #278F75;

}

.btn-reserver-xs {
  color: white;
  background-color:#278F75;
  width:80%;
  height:40px;
  font-size:20px;
  margin-top:15px;
  margin-bottom:15px;
  border-radius:4px;

}

.btn-reserver-lg {
  color: white;
  background-color:#278F75;
  width:80%;
  height:40px;
  font-size:20px;
  margin-top:25px;
  margin-bottom:15px;
  border-radius:3px;

}

.container-order {
  margin: auto;
  padding: auto;
}

.btn-validation {

background-color: #F89406;
color: white;
border-radius: 3px;
font-size: 20px;
margin-top:40px;
margin-bottom:20px;
width: 80%;

}

.btn-home-new-offer {
background-color: #F89406;
color: white;
border-radius: 3px;
font-size: 20px;
padding:10px;
margin-top:40px;
margin-bottom:20px;
width: 100%;
}

.btn-home-dashboard {

background-color:#51C06E;
color: white;
padding:10px;
border-radius: 3px;
font-size: 20px;
margin-top:30px;
margin-bottom:20px;
width: 100%;

}

.btn-delete {
color: white;
border-radius: 3px;
font-size: 20px;
margin-top:20px;
margin-bottom:20px;
width: 80%;

}

.btn-margin {
margin-top:20px;
margin-bottom:20px;


}

.btn-facebook {

border-color: #2d5073;
background-color: #3b5998;
color:white;
border-radius: 3px;
margin-top:10px;
font-size: 18px;
width:80%;

}

.btn-geolocation-xs {

  color:white;
  background-color:#278F75;
  border-radius: 3px;
  border:none;
  font-size: 16px;
  float:left;
  width:15%;
  list-style:none;
  padding-top: 7px;
  height:45px;

}

.btn-join-us {
  color:white;
  background-color:#51C06E;
  border-radius: 3px;
  border:none;
  font-size: 25px;
  display: center;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px;
  width:400px;
  margin-left:auto;
  margin-right:auto;

}

.btn-join-us-responsive {
  color:white;
  background-color:#51C06E;
  border-radius: 3px;
  border:none;
  font-size: 25px;
  display: center;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px;
  width:80%px;
}

.btn-payer {
  color:white;
  background-color:#278F75;
  border-radius: 3px;
  border:none;
  font-size: 20px;
  display: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  width:40%;

}

@media (max-width: 800px) {

.btn-payer {
  width:80%;
  margin-bottom: 15px;
}

}

.btn-empty-basket {
  color:white;
  background-color:#DD562C;
  border-radius: 3px;
  border:none;
  font-size: 20px;
  display: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
  width:40%;

}

@media (max-width: 800px) {
    .btn-empty-basket {
      width:80%;
    }

}

.btn-home {
 background: #DD562C;
 border-radius: 3px;
 border:none;
 font-size: 25px;
 font-family: 'Ropa Sans', sans-serif;
 margin-bottom: 80px;
 color:white;
 width:60%;
 height:58px;


  &:hover {
   border: 1px solid white;
   text-decoration: none;
   color: #F9690E ;
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
}

.btn-home-partner {
 background: #DD562C;
 border-radius: 3px;
 padding-top:10px;
 border:none;
 font-size: 25px;
 font-family: 'Ropa Sans', sans-serif;
 margin-top:70px;
 margin-bottom: 100px;
 color:white;
 width:100%;
 height:58px;
 position:relative;


  &:hover {
   border: 1px solid white;
   text-decoration: none;
   color: #F9690E ;
   text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
}


.btn-home-xs {
 background: #F9690E;
 border-radius: 3px;
 border:none;
 font-size: 22px;
 width: 90%;
 font-family: 'Ropa Sans', sans-serif;
 margin-top:20px;
 margin-bottom:50px;

}




.btn-minus {

  border-radius: 50%;
  border:solid 2px;
  border-color:white;
  background-color:#278F75;
  font-size:18px;
  color:white;
}

.meal-new-btn-minus {
  border-radius: 50%;
  border:solid 2px;
  border-color:white;
  background-color:#278F75;
  font-size:18px;
  color:white;
}

.btn-qtyplus{
  border-radius: 50%;
  border:solid 2px;
  border-color:white;
  background-color:#278F75;
  font-size:18px;
  color:white;
}

.btn-direction {
  border: solid 1px;
  margin-top:30x;
  margin-bottom:30px;
  color: white;
  border-color:white;
  position: relative;
  width:40%;
  font-size:18px;

}

@media (max-width: 800px) {

.btn-direction {
  width:50%;

}

}

.btn-direction-detail {
  border: solid 1px;
  margin-top:10x;
  margin-bottom:10px;
  color: #414243;
  border-color:#414243;
  position: relative;
  width:40%;
  font-size:18px;

}

@media (max-width: 800px) {

.btn-direction-detail {
  width:50%;

  }
}

.btn-submit-meal-infow {
  color: white;
  margin-bottom:5px;
  background-color:#DD562C;

}

.btn-new-deal {
background-color: #DD562C;
color:white;
width:20%;
border-radius:4px;

}

@media (max-width: 800px) {

.btn-new-deal {
  width:70%;

  }
}

.btn-my-payments {
background-color: #DD562C;
color:white;
width:20%;
border-radius:4px;

}

@media (max-width: 800px) {

.btn-my-payments {
  width:70%;

  }
}

.btn-quantity {

   background-color:#278F75;
   height:40px;
   width:40px;
   color:white;
   border: solid 2px;
   border-color:white;
   border-radius:4px;
   text-align:center;
}


