.form-box {

background-color: #FFFFFF;
color:black;
margin-top: 40px;
margin-bottom: 40px;
border-radius: 4px;
border-shadow: 0 1px 3px rgba(0,0,0,0.6);
box-shadow: 3px;
padding-left: 0px;
padding-right:0px;
box-shadow: 3px 3px 3px #888888;

}

@media (max-width: 800px) {
          .form-box {
          background-color: #FFFFFF;
          color:black;
          margin:0px;
          border: none;
          box-shadow: 3px;
          padding-left: 0px;
          padding-right:0px;

          }
}


.form-header {

background-color: #278F75;
color:white;
margin-top: 0px;
padding-left-left: 0px;
padding-right:0px;
padding-top: 10px;
padding-bottom:10px;

}

.form-header-no-margin {

background-color: #278F75;
color:white;
margin-top: 0px;
padding-left-left: 0px;
padding-right:0px;
padding-top: 10px;
padding-bottom:10px;
margin-bottom:0px;

}

.form-input-text {

  width:80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top:30px;
  margin-bottom: 30px;
  height: 40px;
  text-align: left;
  font-size:17px;

}

.form-input-text-bootstrap {

  width:80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:30px;
  height: 40px;
  text-align: left;
  font-size:17px;


}

.form-input-description {
  width:80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:30px;
  height: 80px;
  text-align: left;
  font-size:17px;
  margin-top:20px;

}

.form-input-contact {

  width:80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom: 10px;
  text-align: left;
  font-size:17px;
  height: 40px;

}



.form-input-time {



  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  margin-bottom: 20px;
  height: 40px;
  font-size:17px;
  display:inline;
  padding-left: 0px;
  padding-right: 0px;


}

.form-input-time-box  {
  border: solid;
  border-top-width:1.11667px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color:#CCC;
  width:80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding:10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
  color:#555;
  position: relative;

}

.datetimepickerxs {

  width:80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
}



.datetimepicker3 {
  width:70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;




}


.form-input-text-labelized {

  width:80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  text-align: left;
  font-size:17px;


}

.form-input-checkbox {


  padding-left: 20px;
  padding-right: 20px;


}
.form-input-picture {

  border: solid;
  border-top-width:1.11667px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-color:#CCC;
  width:80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
  color:#555;
}



.photo-label {

  font-size: 18px;
  text-align: left;
  padding-left: 10px;
  color:#ABB7B7;
}



#restaurant_picture {

margin-left: auto;
margin-right: auto;

}

.input-group-time {
  text-align: left;
}


.incremented-input-field {

  width: 20%;
}

.incremented-field input {

  display: inline;
}

.increment-field-block {

  margin-bottom: 10px;
  text-align: center;
  padding-left:0px;
  padding-right:0px;


}

.label-increment-field {
  text-align: left
}



.take_away_times_meal {

  margin-top: 0px;
  padding-top: 0px;
  font-size: 13px;

}

.meal_take_away_noon {

  margin-bottom: 0px;
}


.meal_take_away_evening {

  margin-bottom: 0px;
}

.checkbox {

  margin-bottom: 0px;
}

.datetimepicker2 {

  display:flex;
}

.form-input-radius {

 border-radius: 4px;
}

.form-header-content-title {

  margin-top:15px;
}

.opening_time_check {
display:inline-block;
}


.align-div div{
  display:inline-block;
}
