.partner-joins-us-espace-restaurant {

  background-image:asset-url('cooker.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  background-position: center top;
  position: relative;
  z-index: -2;
  overflow: hidden;
  pointer-events: auto;
  padding-top:100px;
  color:white;

}
