.partner-joins-us-espace-restaurant {

  background-image:asset-url('cooker.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  background-position: center top;
  position: relative;
  z-index: -2;
  overflow: hidden;
  pointer-events: auto;
  padding-top:70px;
  color:white;

}

@media (max-width: 600px) {
  .partner-joins-us-espace-restaurant {
    background-image:asset-url('cooker.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-position: center top;
    position: relative;
    z-index: -1;
    overflow: hidden;
    pointer-events: auto;
    padding-top:30px;
    color:white;

  }
}

#espace-restaurant-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  z-index: 1;
  padding-top: 50px;
}

.title_partner_joins_us_er{

  margin-bottom: 50px;
  color:white;

}


.global_box_how_to_sell_box {
  background-color: #278F75;
  color:white;
  padding-bottom: 70px;

}

.text_how_to_sell_box {
  font-size: 20px;
}

.espace_restaurant_hiw_global_box {

  background-color: #E6EAED;
  color:#414243;
}
