.title-ccm {

color:white;
border: solid 4px;
padding: 10px;
background: rgba(0,0,0,0.2);

}



.banner-fonctionnement {

  background-image: asset-url('coq.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
  min-height: 300px;
  height:300px;
  position:absolute;
  z-index:0;
  opacity: 0.3;

}

.content-fonctionnement {

  z-index:10;
  position:relative;
  color:black;


}


