.meal-banner-picture {


height: 400px;
background-size: cover;
background-position: center;

}

#meal-name {


text-align: center;


}

#meal-padding {
padding-top: 100px;
}

#meal-price{
text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

#meal-quantity {
text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
