.btn-search-size {

  height:43px;
  width: 108px;

  margin-bottom: 5px;
  text-align: center;
  padding-top: 10px;
  border-radius: 4px;
}

.btn-search-position {

  margin-top: 25px;
}

#meal-name {
text-align: center;
}

#meal-padding {
padding-top: 100px;
}

#meal-price{
text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

#meal-quantity {
text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

#filter-meals-list {


background: rgba(70,70,70,0.6);

  }

#card-price-position {
  position: absolute;
  font-size: 25px;
  right: 0 ;
  bottom: 0 ;
  margin: 1px;
  padding: 1px;
}

#card-seated-price-position {
  position: absolute;
  font-size: 25px;
  right: 0 ;
  text-align: center;
  margin: 1px;
  padding: 1px;
}


#card-postal_code-position{
  margin: 1px;
  padding: 1px;
  color: white;
  border: withe;
  border: 1px;
  border:solid;
  width:75px;

}

#card-name-position {

  font-size: 18px;
  font-weight:bold

}

.meal-index-search {

  background-color:black;
  opacity: 0.8;
  color:white;

}



#text-meal-index {

padding-bottom: 20px;
margin-left: 30px;
}


