.btn-search-size {

  height:43px;
  width: 108px;

  margin-bottom: 5px;
  text-align: center;
  padding-top: 10px;
  border-radius: 4px;
}

.btn-search-position {

  margin-top: 25px;
}



#filter-meals-list {


background: rgba(70,70,70,0.6);

  }

#card-price-position {
  position: absolute;
  font-size: 16px;
  left: 0 ;
  bottom: 0 ;
  margin: 1px;
  padding: 1px;
  color:#006C26;
  margin-left: 5px;

}

#card-seated-price-position {
  position: absolute;
  font-size: 18px;
  left: 0 ;
  text-align: center;
  margin-top: 5px;
  padding: 1px;
  margin-left: 5px;
}


.card-postal_code-position{
  margin-top:0px;
  padding-right: 3px;
  color: white;
  text-align: right;
  float:right;
  font-size: 15px;


}

#card-name-position {

  font-size: 16px;
  background: rgba(0,0,0,0.6);
  margin-top:127px;
  margin-bottom: 0px;



}

.meal-index-search {

  background-color:black;
  opacity: 0.8;
  color:white;

}



#text-meal-index {

padding-bottom: 20px;
padding-top:20px;
margin-left: 30px;
}



.prices-meal-container {

  background-color: white;
  height:50px;

  bottom: 0px;
  text-shadow: 3px 3px 3px rgba(0,0,0,0);
}


.border-box {
  border: black solid 1px;
  text-align: center;

  border-radius: 3px;

}

.card-show-details {
 border: black solid 1px;
 margin-top: 20px;

}



.card-cart-show {


  color: black;
  border-shadow: 0 1px 3px rgba(0,0,0,0.6);
  border-radius: 3px;
  position: absolute;
  margin-bottom: 8px;
  padding: 5px;

 }


.cart-img-size {

  height:300px;
  width: 400px;

}


.cart-img-size-xs{
  height:300px;
  width: 300px;

}

.cart-show-name-description {

  background: rgba(0,0,0,0.5);
  color:white;
  padding: 5px;
  margin: 0px;
}

.cart-show-prices-quantity {

background-color: white;
margin: 0px;

}


.meal-stock-position {

  margin-top: -25px;
  margin-left: 280px;
}


.meal-price-position {

  width:30%;
  margin: 0px;
}


.meal-stock-position-xs {

 margin-top: -23px;
 margin-left: 180px;

}

.cart-show-meal-seated-price-position{

  color:red;
  padding-left: 10px



}

.cart-show-meal-price-position {

 color:#006C26;
 padding-left: 120px


}


.cart-show-meal-price-position-xs {
 color:#006C26;
 padding-left: 70px
}

.cart-show-stock-position {
 margin-left:135px
}

.cart-show-stock-position-xs {
 margin-left:80px
}

#navlist li {
display: inline;
list-style-type: none;
padding-right: 2px;
}

#navlist {
  padding:5px;
  margin: -10px;
  font-size: 18px;
}

.grey-card {


  margin-top: 10px;
}

.cart-show-address {

  margin-top: 0px;
  background: rgba(0,0,0,0.5);
  margin-bottom: 160px;
  color:white;
  padding-right: 4px;
  text-align: right;
}


.cart-meal-name {

  background: rgba(0,0,0,0.5);
  color:white;
}

.cart-meal-price {
  background: white;
  color:green;
  margin-top: 155px;
}

.card-cart {

position: relative;
height: 200px;
width: 200px;
color: #FFF;
border-radius: 3px;
background-size: cover;
margin: auto auto 8px;
}

.address-compenents {

padding: 0px;
margin: 0px;
}
