.meal-banner-picture {


height: 400px;
background-size: cover;
background-position: center;

}

#meal-name {


text-align: center;
padding-top: 100px;

}

#meal-padding {
padding-top: 100px;
}

#meal-price{
float:right;

}

#meal-quantity {
float:left;

}
