// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.partner-paiements-box {

margin:0px;
padding:0px;
min-height:500px;
margin-top:-1px;
}
