

  .restaurant {
 background-image: asset-url('banner.jpg');

 }



.restaurant-name-edit p {
  display: inline;
}

.restaurant_timepicker span {

  display:inline-block;

}

.restaurant_timepicker  {

  padding: 10px;

}
