

 .btn-book {
    color: white;
    text-decoration: none;
  }

  .btn-book {
   &:hover {
    color: white;
    text-decoration: none;
  }
}


.btn-user {
  border: 3px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    color: white;
    text-decoration: none;
  }

}


 .style-table {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
 }





