@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

#profil-box {

color:black;
margin-top:0px;
color:white;
background-color:black;
opacity:0.7;
padding:5px;

}


.dashbord-restaurant {

background-color: #ECECEC;
}

#restaurant-profil-box {

color:black;
color:white;
background-color:grey;
opacity:1;
padding-bottom:5px;

}

.padding-btn-profil {

margin-left:20px;
margin-right:20px;
}

.btn-padding {
  padding: 30px;
}

 .btn-book {
    color: white;
    text-decoration: none;
  }

  .btn-book {
   &:hover {
    color: black;
    text-decoration: none;
  }
}

.div-table {
  margin-top: 50px;
  background-color: black;
  opacity: 0.5;
}

.btn-user {
  border: 3px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    color: white;
    text-decoration: none;
  }

}


 .style-table {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
 }

 .opacity {
   color: black;
   background-color: white;
   opacity: 0.5;
   margin: 20px;

 }

.spacer {
  height: 100px;
}


.title-last-order {
  margin-top: 20px;
}


.card-address {

  background-size: cover;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.1) 40%, rgba(0,0,0,0.0) 60%);


}





