
 .restaurant {
 background-image: asset-url('banner.jpg');

 }

 .btn-book {
    border: 4px solid white;
    border-radius: 10px;
    color: white;
    text-decoration: none;


  }

  .btn-book {
   &h2:hover {
    color: white;
    text-decoration: none;
}
}





 .style-table {
  color: black;
  font-weight: 20px;
 }





