@-moz-document url-prefix() {
  fieldset { display: table-cell; }
  }


#profil-box {

color:black;
margin-top:0px;
color:white;
background-color:#04BAB1;
opacity:0.7;
padding:5px;
margin-top:50px;

}


.dashbord-restaurant {

background-color: #E2E4E6;

}

#restaurant-profil-box {

color:black;
color:white;
background-color:grey;
opacity:1;
padding-bottom:5px;

}

.padding-btn-profil {

margin-left:20px;
margin-right:20px;
}

.btn-padding {
  padding: 30px;
}

 .btn-book {
    color: white;
    text-decoration: none;
  }

  .btn-book {
   &:hover {
    color: black;
    text-decoration: none;
  }
}

.div-table {
  margin-top: 50px;
  background-color: black;
  opacity: 0.5;
}

.btn-user {
  border: 3px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    color: white;
    text-decoration: none;
  }

}


 .style-table {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
 }

 .opacity {
   color: black;
   background-color: white;
   opacity: 0.5;
   margin: 20px;

 }

.spacer {
  height: 100px;
}


.title-last-order {
  margin-top: 20px;
}


.card-address {

  background-size: cover;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.1) 40%, rgba(0,0,0,0.0) 60%);


}

.user_restaurant_img {
  border: solid 4px;
  border-color:white;
  margin-top:4px;
}



.restaurant_profil-box {

background-color:grey;
color: white;
}

.title_no_order {
  margin-top:50px;
  margin-bottom:50px;
}

.status_confirmed {
  color:white;
  background-color: #F3C024;
  border-radius: 4px;
  padding:5px;
  padding-left: 6px;
  padding-right:6px;
}

.status_paid {
  color:white;
  background-color: #278F75;
  border-radius: 4px;
  padding:5px;
  padding-left: 20px;
  padding-right:20px;
}

.status_unknown {
  color:white;
  background-color: red;
  border-radius: 4px;
  padding:5px;
  padding-left: 6px;
  padding-right:6px;

}

.order_modal {

}

.modal-global-box {

  background-color:white;
  color:black;
  margin-top:120px;
}
